<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('setting') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= "#{t('hr_setting')}" %></div>

</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>
    <div id="box">
        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('add_employee_category')}", :controller=>"employee", :action=>"add_category" %></div>
            <div class="link-descr"><%= "#{t('add_edit_employee_category')}" %></div>
        </div>

        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('add_employee_position')}", :controller=>"employee", :action=>"add_position"%></div>
            <div class="link-descr"><%= "#{t('add_edit_employee_position')}" %></div>
        </div>

        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('add_employee_department')}", :controller=>"employee", :action=>"add_department"%></div>
            <div class="link-descr"><%= "#{t('add_edit_employee_department')}" %></div>
        </div>

        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('add_employee_grade')}", :controller=>"employee", :action=>"add_grade"%></div>
            <div class="link-descr"><%= "#{t('add_edit_employee_grade')}" %></div>
        </div>

        <% if permitted_to? :working_day_settings , :payroll_groups %>
          <div class="link-box">
              <div class="link-heading"><%= link_to "#{t('employee_working_day_settings')}", :controller=>"payroll_groups", :action=>"working_day_settings" %></div>
              <div class="link-descr"><%= "#{t('working_day_setting_desc')}" %></div>
          </div>
        <% end %>

        <% if permitted_to? :list_leave_types, :employee_attendance %>
          <div class="link-box">
              <div class="link-heading"><%= link_to "#{t('leave_types').titleize}", :controller=>"employee_attendance", :action=>"list_leave_types"%></div>
              <div class="link-descr"><%= t('link_dec1') %></div>
          </div>
        <% end %>

        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('add_bank_detail')}", :controller=>"employee", :action=>"add_bank_details"%></div>
            <div class="link-descr"><%= "#{t('add_edit_bank_detail')} " %></div>
        </div>

        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('add_additional_detail')}", :controller=>"employee", :action=>"add_additional_details"%></div>
            <div class="link-descr"><%= "#{t('add_edit_additional_detail')}" %></div>
        </div>

        <% if permitted_to? :settings , :payroll %>
          <div class="link-box">
              <div class="link-heading"><%= link_to "#{t('payroll_settings')}", :controller=>"payroll", :action=>"settings" %></div>
              <div class="link-descr"><%= "#{t('payroll_setting_desc')}" %></div>
          </div>
        <% end %>

        <% if permitted_to? :index , :leave_groups %>
          <div class="link-box">
              <div class="link-heading"><%= link_to "#{t('leave_groups')}", :controller=>"leave_groups", :action=>"index" %></div>
              <div class="link-descr"><%= "#{t('leave_groups_desc')}" %></div>
          </div>
        <% end %>

        <% config = leave_reset_configuration %>
        <% if config == "0" %>
          <%  if permitted_to? :reset_setting, :leave_years %>
            <div class="link-box">
                <div class="link-heading"><%= link_to t('reset_settings'), :controller=> "leave_years", :action=>'reset_setting' %></div>
                <div class="link-descr"><%= t('reset_settings_desc')%></div>
            </div>
          <% end %>
        <% else%>
          <%  if permitted_to? :leave_process_settings, :leave_years %>
            <div class="link-box">
                <div class="link-heading"><%= link_to t('leave_process_setting'), :controller=> "leave_years", :action=>'leave_process_settings' %></div>
                <div class="link-descr"><%= t('leave_process_setting_desc')%></div>
            </div>
          <% end %>
        <% end %>
     
        <div class="extender"></div>
    </div>
</div>
