<% subjects = assessments['assessments'].collect(&:subject_id) %>
<% if subjects & @subject_ids != [] or @privileged or batch.is_tutor_and_in_this_batch %>
  <table align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
          <td class="col-5"><%= "#{t('subject')} &#x200E;(#{assessments['assessments'].count})&#x200E;" %></td>
          <td class="col-6"><%= t('submission_status') %></td>
          <td class="actions"></td>
      </tr>
      <% assessments['assessments'].each do |assessment| %>
        <% if @subject_ids.include? assessment.subject.id or @privileged or batch.is_tutor_and_in_this_batch %>
          <tr class="tr-<%= cycle('even', 'odd') %>">
              <td><%= assessment.subject.name %></td>
              <td>
                  <span class="status"><%= assessment.submission_status_text %></span>
              </td>
              <td>
                  <%= link_to t('enter_results_privilege'), attribute_scores_assessments_path(:batch_id=>batch.id, :assessment_group_id => assessment_group.id, :assessment_id => assessment.id) %>
              </td>
          </tr>
        <% end %>
      <% end %>
  </table>
<% else %>
  <div class="no_subjects">
      <%=t('no_subject_for_exam')%>
  </div>
<% end %>
<% if inactive_subjects.present? and @privileged %>
  <table align="center" width="100%" cellpadding="1" cellspacing="1" id="inactive_subjects">
      <tr class="tr-head"><td colspan="2"><%= t('subject_without_assessments') %></td></tr>
      <% inactive_subjects.each do |sub| %>
        <tr class="tr-<%= cycle('even', 'odd') %>">
            <td class="col-5"><%= sub.name %></td>
            <td class="col-1">
                <%= link_to t('activate'), activate_subject_assessments_path(:subject_id => sub.id, :assessment_group_id => assessment_group.id, :batch_id => batch.id) %>
            </td>
        </tr>
      <% end %>
  </table>
<% end %>