<% if @assessment_attribute_profiles.assessment_attributes.present? %>
  <table align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
          <td class="col1"><%= "#{t('attributes_text')} &#x200E;(#{@assessment_attribute_profiles.assessment_attributes.length})&#x200E;" %></td>
          <td class="col2"><%= t('max_marks') %></td>
      </tr>
      <% @assessment_attribute_profiles.assessment_attributes.each do |attr|  %>
        <tr>
            <td><%= attr.name %></td>
            <td><%= attr.maximum_marks %></td>
        </tr>
      <% end %>
  </table>
  <div class="attribute_profile_marks_show">
      <div class='left'>
          <div class='label'>
            <%= t('subject_derivation_formula') %>
          </div>
          <div class="value">
            <%= @assessment_attribute_profiles.formula_text %>
          </div>
      </div>
      <div class='left'>
          <div class="label">
            <%= t('max_subject_marks') %>
          </div>
          <div class="value">
            <%= @assessment_attribute_profiles.maximum_marks %>
          </div>
      </div>
  </div>
<% else %>
  <div id="description"><%= t('no_attributes_added') %></div>
<% end %>