<div class="details">
    <div class="details_strip">
        <div class="label"><%= t('activity_profile') %></div>
        <div class="field bold"><%= @profile.name %></div>
        <% unless @profile.dependencies_present?%>
          <div class="edit_field"><td><%= link_to_remote t('edit_profile'), :url => edit_assessment_activity_path(@profile), :method => :get %></div>
        <% end %>
    </div>
    <div class="details_strip">
        <div class="label"><%= t('display_name') %></div>
        <div class="field"><%= @profile.display_name %></div>
    </div>
    <div class="details_strip">
        <div class="label"><%= t('description') %></div>
        <div class="field"><%= @profile.description %></div>
    </div>
</div>