<table id="thread_listing" width="100%" cellpadding="1" cellspacing="1">
    <% @recipients.each do |message_recipient| %>
      <% recipient = message_recipient.recipient %>
      <% entry = get_entry(recipient) %>
      <% if entry.present? %>
        <tr class="th_entry disabled_th" id="<%=recipient.id%>">
            <td class="thread_entry">
                <div class="thread_entry">
                    <div class="entry-thumbnail">
                        <% if !recipient.parent? %>
                          <%= image_tag entry.photo.url(:original, false) %>
                        <% else %>
                          <%= image_tag "single_user.png" %>
                        <% end %>
                    </div>
                    <div class="entry_detail">
                        <div class="name"><%= entry.full_name %></div>
                        <div class="sec_info">
                            <%if recipient.student?%>
                              <%= "#{t('batch')} : #{entry.batch.full_name}" %>
                            <%elsif recipient.parent?%>
                              <%= "#{t('parent')} : #{recipient.parent_record.full_name}" if recipient.parent_record.present?%>
                            <%else%>
                              <%= "#{t('department')} : #{entry.department}" %>
                            <%end%>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
      <%else%>
        <tr class="th_entry disabled_th">
            <td class="thread_entry">
                <div class="thread_entry">
                    <div class="entry-thumbnail">
                        <%= image_tag "blocked_user.png" %>
                    </div>
                    <div class="entry_detail">
                        <div class="name"><%= t('deleted_user')%></div>
                    </div>
                </div>
            </td>
        </tr>
      <% end %>
    <%end%>
    <% @recipients.total_pages.to_i.times do |i| %>
      <tbody id="infinite_recipient_<%=i+2%>"></tbody>
    <% end %>
</table>
<div id="infinite-scrolling_recipients">
    <%= will_paginate @recipients %>
</div>
<script>
  jQuery(function () {
      flag = true;
      if (j('#infinite-scrolling_recipients').size() > 0) {
          j('#thread_listing_main').on('scroll', function () {
              url = j('#infinite-scrolling_recipients .pagination .next_page').attr('href');
              update_url = '/messages/update_recipients'
              if (url != undefined) {
                  page = url.substring(url.lastIndexOf('?') + 1, url.length);
              }
              if (page != undefined) {
                  more_posts_url = update_url + '?' + page
              }
              if (flag && more_posts_url && j('#thread_listing_main').scrollTop() + j('#thread_listing_main').height() > (j('#thread_listing').height() - 200)) {
                  j('#infinite-scrolling_recipients .pagination').html('<img src="/images/filler_ring_loader.gif" alt="Loading..." title="Loading..." />');
                  j('#infinite-scrolling_recipients .pagination').css('display', 'block');
                  j.ajax({
                      type: 'GET',
                      url: more_posts_url,
                      dataType: "script",
                      data: {thread_id: '<%=@thread.id%>'},
                      beforeSend : function() {
                          flag = false
                      },
                      success: function (resp) {
                          flag = true
                      }
                  });
              }
          });
      }
  });
</script>