<div class="formula_fields" id="default_formula">

<%- fields_for object_name, hr_formula do |f| %>

      <div class="label-field-pair formula_fields">
          <label for="default_value"><%= t('formula') %></label>
          <div class="text-area-bg">
              <div class="div_link validate"><%= t('validate') %></div>
              <%= f.text_area  :default_value, :class => "formula" %>
              <%= image_tag("loader.gif",
                :align => "absmiddle",
                :border => 0,
                :id => "loader",
                :style =>"display: none;" ) %>
              <div class="validate_result">
                  <% if f.object.default_value_valid %>
                    <div class="cross_button tick_symbol"></div>
                    <div class="error-msg success-msg"><%= t('validated_message') %></div>
                  <% end %>
              </div>
              <%= f.hidden_field :cat_list, :class => "cat_list_value" %>
          </div>
      </div>

    <% end %>
</div>
<script type="text/javascript">

  clickHandler = function(){
      elm = j(this);

    new Ajax.Request('/payroll_categories/validate_formula',{
      parameters:{'formula' : elm.parent().find('.formula').val(), 'cat_code' : j('#payroll_category_code').attr('value'), 'selected_cats' : elm.parent().find('.cat_list_value').val(), 'is_lop' : j('#payroll_category_code').length},
      asynchronous:true,
      evalScripts:true,
      method:'post',
      onLoading: function(){
              elm.siblings('#loader').show();
          },
      onComplete:function(resp){
              par_div = elm.siblings('.validate_result');
              if (JSON.parse(resp.responseText).first().length > 0) {
                  elements = []
                  icon = j('<div></div>', {'class': "error-icon"});
                  elements.push(icon);
                  JSON.parse(resp.responseText).first().each(function(m){
                  msg = j('<div></div>', {'class' : 'error-msg', 'text' : m});
                      elements.push(msg);
                  });
                  par_div.html(elements);
              }
              else {
                  icon = j('<div></div>', {'class': "cross_button tick_symbol"})
                  msg = j('<div></div>', {'class': 'error-msg success-msg', 'text': '<%= t('validated_message') %>'})
                  par_div.html(icon.add(msg));
              }
              elm.parent().find('.wrapper').remove();
              elm.parent().find('.formula').val(JSON.parse(resp.responseText).last());
              elm.siblings('#loader').hide();
          }
      });
  }
  j('.validate').click( clickHandler);

  j('.formula').on('change', function(){
      j(this).closest('.formula_fields').find('.validate_result').html('');
      j(this).closest('.formula_fields').find('.wrapper').remove();
  });
  j(document).ready(function(){
      selected_categories = [];
    j('.selected_categories .category:visible .category_code').each(function(){
          selected_categories.push(j(this).text());
      });
      j('.cat_list_value').val(selected_categories.join(","));
      if (j('#payroll_category_code').length == 0) {
          j('.cat_list_value').val(cat_codes);
      }
  });
</script>