<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>

<div class="header_section">
  <% if @current_template.header_enabled? %>
    <%=render :partial=>'tc_template_headers/preview'%>
  <% else %>
    <div style="height: <%= @current_template.header_space%>mm"></div>
    <%=render :partial=>'tc_template_headers/preview'%>
  <% end %>
</div>
<div class="student_details_section">
  <%=render :partial=>'tc_data_preview'%>
</div>
<% if @current_template.footer_enabled? %>
  <div class="footer_section">
    <%=render :partial=>'tc_template_footers/preview'%>
  </div>
<% end %>
