<div class="field_head">
  <%= t('select_guardian')%>
</div>
<div class="field">
  <select class="" id="user_selector">
    <option><%= t('select_guardian') %></option>
    <%@guardians.each do |guardian| %>
      <option value=<%= guardian.g_id %> data-value=<%= guardian.g_id %> data-type=<%= guardian.class.name %>  > <%="#{guardian.full_name}"%> </option>
    <%end%>
  </select>
</div>


<script>
j("#user_selector").change(function(){
  j.ajax({
    url: "/templates/set_guardian_keys",
    type: 'POST',
    data:  {
      base_template_id: <%= @base_template_id%>,
      guardian_id: ""+j(this).find(':selected').data("value"),
      student_id :<%= @student.id%>,
      type: ""+j(this).find(':selected').data("type"),
      <%= "combine_template_id: #{@combine_template_id} " if @combine_template_id.present? %>
    },
    success: function(data, textStatus, jqXHR)
    {
    },
    error: function(jqXHR, textStatus, errorThrown)
    {
    }
  });
});
</script>