<div class="table-heading"><%= "#{type.capitalize} Members" %></div>
  <table class="gray_table_list" align="center" width="100%" cellpadding="0" cellspacing="0">
      <tr class="main_head tr-list_head">
            <td class="sl-col"><%= t('in_no') %></td>
            <td class="set_border_right">
              <% if type=="employee" %> 
                <%= t('employee_name') %></td>
              <% else %>
                <%= t('student_name') %></td>
              <% end %>
            </td>
            <% if type=="employee" %>
              <td class="set_border_right" colspan="2"><%= t('department') %></td>
            <% elsif type=="student" || type=="parent" %>
              <td class="set_border_right" colspan="2"><%= t('batch') %></td>
            <% end %>
        </tr>
          <tr class="row-b">
              <td class="sl-col">1</td>
              <td class="set_border_right"> <%= "#{t('all')} #{type.capitalize}s" %> </td>
              <td class="set_border_right">
                
              </td>
              <% if permitted_to? :remove_member, :user_groups %>
                <td class="set_border_right last"><%= link_to "Delete",{ :controller => "user_groups", :action => "remove_member", :group_id => @group.id, :type => type, :all => "true" }, :confirm => "Are you sure" %> </td>
              <% end %>
          </tr>
  </table>