<% remote_form_for :group, :url => { :action => "edit_user_group" } do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :add_member, params[:add_member] if params[:add_member]  %>
  <%= render :partial => "group_name_form" %>
  <%= render :partial => "form"  %>
  <div id="submit-button">
      <%= hidden_field_tag :session_fingerprint, session_fingerprint%>
      <%=submit_tag "#{t('update_group_text')}" , :class => 'send_button', :disable_with => "#{t('please_wait')}" %>
      <% unless params[:add_member] %>
        <% if permitted_to?  :index, :user_groups %><%=link_to"#{t('cancel')}",{:controller=>:user_groups, :action => "index" } ,:class => 'cancel_button' %><% end %>
      <% else %>
        <% if permitted_to?  :show_user_group, :user_groups %><%=link_to"#{t('cancel')}",{:controller=>:user_groups, :action => "show_user_group", :id => @group.id } ,:class => 'cancel_button' %><% end %>
      <% end %>
    </div>

<% end %>


<script type="text/javascript">
  function remove_fields(link) {
      j(link).prev("input[type=hidden]").val("1");
      j(link).closest(".fields").hide();
  }

  function add_fields(link, association, content) {
      var new_id = new Date().getTime();
      var regexp = new RegExp("new_" + association, "g")
      j(link).parent().before(content.replace(regexp, new_id));
  }
</script>
