<%remote_form_for :student_record, :url=>student_records_for_batch_student_records_path,:html=>{:method=>:get} do |s|%>
  <%=hidden_field_tag :rg_id,params[:rg_id]%>
  <%unless params[:rg_id].present?%>
    <div class="label-field-pair">
      <label for="batch_id"><%= t('select_a_course') %></label>
      <%= image_tag("loader.gif",
        :align => "absmiddle",
        :border => 0,
        :id => "loader1",
        :style =>"display: none; margin-top:10px;margin-left: -21px;" ) %>
      <div class="text-input-bg margin-left-10">
        <%= select :course, :id,
          @courses.map {|c| [c.cname, c.id]},
          {:selected => @course.id},
          {:onChange => "#{remote_function(:url => {:action => "get_batches_list"},
          :with => "'id='+ value",
          :before => "Element.show('loader1')",
          :success => "Element.hide('loader1')"
          )}"} %>
      </div>
    </div>
  <%else%>
    <div class="label-field-pair">
      <label for="batch_id"><%= t('select_a_course') %></label>
      <%= image_tag("loader.gif",
        :align => "absmiddle",
        :border => 0,
        :id => "loader1",
        :style =>"display: none; margin-top:10px;margin-left: -21px;" ) %>
      <div class="text-input-bg margin-left-10">
        <%= select :course, :id,
          @courses.map {|c| [c.cname, c.id]},
          {:selected => @course.id},
          {:onChange => "#{remote_function(:url => {:action => "get_batches_list"},
          :with => "'id='+ value+ '&rg_id=#{params[:rg_id]}'",
          :before => "Element.show('loader1')",
          :success => "Element.hide('loader1')"
          )}"} %>
      </div>
    </div>
  <%end%>
  <div id="batches_list">
    <div class="label-field-pair">
      <label for="batch_id"><%= t('select_a_batch') %></label>
      <%= image_tag("loader.gif",
        :align => "absmiddle",
        :border => 0,
        :id => "loader1",
        :style =>"display: none; margin-top:10px;margin-left: -21px;" ) %>
      <div class="text-input-bg margin-left-10">
        <%= select :batch, :id,
          @batches.map {|b| [b.name, b.id]},
          {:selected => @batches.first}
      %>
      </div>
    </div>
  </div>
  <%=s.submit "#{t('view_records')}"%>
  <div id="cancel_link"><%=t('cancel')%></div>
<%end%>
<div class="hor_line"></div>
<script type="text/javascript">
  j('#cancel_link').click(function(){
    j.ajax({
      type: 'GET' ,
      url: "/student_records/cancel",
      data : {
        id: <%=@batch.id%>
      }
    });
  });
</script>