<%- # Fedena
    #Copyright 2010 Foradian Technologies Private Limited
    #
    #This product includes software developed at
    #Project Fedena - http://www.projectfedena.org/
    #
    #Licensed under the Apache License, Version 2.0 (the "License");
    #you may not use this file except in compliance with the License.
    #You may obtain a copy of the License at
    #
    #  http://www.apache.org/licenses/LICENSE-2.0
    #
    #Unless required by applicable law or agreed to in writing,
    #software distributed under the License is distributed on an
    #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    #KIND, either express or implied.  See the License for the
    #specific language governing permissions and limitations
    #under the License.      -%>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('finance_text') %></h1>

  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('fee_general_settings') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs %>
  </div>
  <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="main_heading"><%= t('fee_general_settings') %></div>
  <div class="description"><%= t('fee_general_settings_descr') %></div>

  <% form_for 'configuration', :url => {:action => "fee_general_settings"} do |f| %>

      <% unless @config[:school_discount_marker].present? %>
          <% # this setting is available only for old schools       %>

          <% discount_mode_tooltip_text = "<p>" %>
          <% discount_mode_tooltip_text += "<b>#{t('old_discount_mode')}:</b>" %>
          <% discount_mode_tooltip_text += " #{t('old_discount_mode_desc')}<br/><br/>" %>
          <% discount_mode_tooltip_text += "<b>#{t('new_discount_mode')}:</b>" %>
          <% discount_mode_tooltip_text += " #{t('new_discount_mode_desc')}" %>
          <% discount_mode_tooltip_text += "</p>" %>
          <div class="setting_block">
            <div class="setting_label">
              <div class="label">
                <%= t('finance_discount_mode') %>
              </div>
              <div class="tooltip_info2">
                <div class="info">
                  <%= discount_mode_tooltip_text %>
                </div>
              </div>
            </div>
            <div class="setting_options">
              <div class="radio_pair_main_float">
                <%= f.radio_button "finance_discount_mode", "OLD_DISCOUNT",
                                   :checked => (@config[:finance_discount_mode] == "OLD_DISCOUNT") %>
                <%= f.label :finance_discount_mode_old_discount, t('old_discount_mode') %>
              </div>
              <div class="radio_pair_main_float">
                <%= f.radio_button "finance_discount_mode", "NEW_DISCOUNT",
                                   :checked => (@config[:finance_discount_mode].to_i == "NEW_DISCOUNT") %>
                <%= f.label :finance_discount_mode_new_discount, t('new_discount_mode') %>
              </div>
            </div>
          </div>
      <% end %>

      <div class="setting_block">
        <div class="setting_label">
          <%= t('receipt_mode') %>
          <div class="description">
            <%= t('finance_settings.fee_receipt_mode_settings_descr') %>
          </div>
        </div>
      </div>
      <div class="setting_options">
        <div class="radio_pair_main_float">
          <%= f.radio_button "single_receipt_number", "1", :checked => (@config[:single_receipt_number].to_i == 1) %>
          <%= f.label :single_receipt_number_1, t('single') %>
        </div>
        <div class="radio_pair_main_float">
          <%= f.radio_button "single_receipt_number", "0", :checked => (@config[:single_receipt_number].to_i == 0) %>
          <%= f.label :single_receipt_number_0, t('multiple') %>
        </div>
      </div>
      </div>

      <div class="setting_block">
        <div class="setting_label">
          <div class="label">
            <%= t('multiple_fee_accounts') %>
          </div>

          <% if @allow_account_disabling %>
              <div class="tooltip_info2">
                <div class="info">
                  <%= t('account_disabled_tooltip_text') %>
                </div>
              </div>
          <% end %>

          <div class="description">
            <%= t('finance_settings.fee_account_settings_descr') %>
          </div>
        </div>
        <div class="setting_options">
          <div class="radio_pair_main_float">
            <%= f.radio_button "multi_fee_account_enabled", "1",
                               :checked => (@config[:multi_fee_account_enabled].to_i == 1),
                               :disabled => @allow_account_disabling %>
            <%= f.label :multi_fee_account_enabled_1, t('enable') %>
          </div>
          <div class="radio_pair_main_float">
            <%= f.radio_button "multi_fee_account_enabled", "0",
                               :checked => (@config[:multi_fee_account_enabled].to_i == 0),
                               :disabled => @allow_account_disabling %>
            <%= f.label :multi_fee_account_enabled_0, t('disable') %>
          </div>
        </div>
      </div>

      <div class="setting_block">
        <div class="setting_label">
          <%= t('multiple_receipt_templates') %>
          <div class="description">
            <%= t('finance_settings.fee_receipt_template_settings_descr') %>
          </div>
        </div>
        <div class="setting_options">
          <div class="radio_pair_main_float">
            <%= f.radio_button "multi_receipt_template_enabled", "1", :checked =>
                                                                       (@config[:multi_receipt_template_enabled].to_i == 1) %>
            <%= f.label :multi_receipt_template_enabled_1, t('enable') %>
          </div>
          <div class="radio_pair_main_float">
            <%= f.radio_button "multi_receipt_template_enabled", "0", :checked =>
                                                                       (@config[:multi_receipt_template_enabled].to_i == 0) %>
            <%= f.label :multi_receipt_template_enabled_0, t('disable') %>
          </div>
        </div>
      </div>

      <% multiple_receipt_number_disabled = @config[:multi_receipt_number_set_enabled].to_i == 0 %>

      <div class="setting_block">
        <div class="setting_label">
          <%= t('multiple_receipt_sets') %>
          <div class="description">
            <%= t('finance_settings.fee_receipt_set_settings_descr') %>
          </div>
        </div>
        <div class="setting_options">
          <div class="radio_pair_main_float multi_receipt_no">
            <%= f.radio_button "multi_receipt_number_set_enabled", "1",
                               :checked => (@config[:multi_receipt_number_set_enabled].to_i == 1) %>
            <%= f.label :multi_receipt_number_set_enabled_1, t('enable') %>
          </div>
          <div class="radio_pair_main_float multi_receipt_no">
            <%= f.radio_button "multi_receipt_number_set_enabled", "0",
                               :checked => multiple_receipt_number_disabled %>
            <%= f.label :multi_receipt_number_set_enabled_0, t('disable') %>
          </div>
        </div>
      </div>

      <%# <div id='default_receipt_settings' class='default_receipt_settings' style='< %= multiple_receipt_number_disabled ? 'display: block' : 'display:none' % >'> %>
      <div id='default_receipt_settings' class='default_receipt_settings'>
        <div class="setting_block">
          <div class="setting_label"><%= t('default_fee_receipt_settings') %></div>
          <div class="setting_options">
            <div class="input_field">
              <%= f.label :fee_receipt_prefix, t('default_fee_receipt_prefix') %>
              <%= f.text_field "fee_receipt_prefix", :value => @config[:fee_receipt_prefix] || "" %>
            </div>
            <div class="input_field">
              <%= f.label :fee_receipt_starting_number, t('default_fee_receipt_s_no') %>
              <%= f.text_field "fee_receipt_starting_number", :value => @config[:fee_receipt_starting_number] || "" %>
            </div>
          </div>
        </div>
      </div>

      <% tax_enabled = @config[:enable_finance_tax].to_i == 1 %>

      <div class="setting_block">
        <div class="setting_label"><%= t('enable_finance_tax_settings') %></div>
        <div class="setting_options">
          <div class="radio_pair_main_float enable_tax_settings">
            <%= f.radio_button "enable_finance_tax", "1", :checked => tax_enabled %>
            <%= f.label :enable_finance_tax_1, t('enable') %>
          </div>
          <div class="radio_pair_main_float enable_tax_settings">
            <%= f.radio_button "enable_finance_tax", "0", :checked => (@config[:enable_finance_tax].to_i == 0) %>
            <%= f.label :enable_finance_tax_0, t('disable') %>
          </div>
        </div>
      </div>



      <% invoice_number_enabled = @config[:enable_invoice_number].to_i == 1 %>

      <div class="setting_block">
        <div class="setting_label"><%= t('enable_invoice_number') %></div>
        <div class="setting_options">
          <div class="radio_pair_main_float enable_invoice_number">
            <%= f.radio_button "enable_invoice_number", "1", :checked => invoice_number_enabled %>
            <%= f.label :enable_invoice_number_1, t('enable') %>
          </div>
          <div class="radio_pair_main_float enable_invoice_number">
            <%= f.radio_button "enable_invoice_number", "0", :checked => (@config[:enable_invoice_number].to_i == 0) %>
            <%= f.label :enable_invoice_number_0, t('disable') %>
          </div>
        </div>
      </div>

      <div id='invoice_number_settings' class='invoice_number_settings'
           style='<%= invoice_number_enabled ? 'display: block' : 'display:none' %>'>
        <div class="setting_block">
          <div class="setting_label"><%= t('invoice_number_settings') %></div>
          <div class="setting_options">
            <div class="input_field">
              <%= f.label :fee_invoice_no, t('start_invoice_no') %>
              <%= f.text_field "fee_invoice_no", :value => @config[:fee_invoice_no] || "" %>
            </div>
          </div>
        </div>
      </div>

       <div id='invoice_amount_display_settings' class='invoice_number_settings'
           style='<%= invoice_number_enabled ? 'display: block;' : 'display:none' %>'>
        <div class="setting_block">
          <div class="setting_label" style="margin-top:0px;"><%= t('display_amount') %></div>
          <div class="description">
            <%= t('display_amount_description') %>
          </div>
          <div class="setting_options" style="height: 65px;margin-bottom:-12px;">
            <div class="input_field" id="total_due_amount">
              <%= check_box :configuration, :show_total_due_amount  ,:checked => @enable_total_due == "1"%>
              <%= f.label :fee_invoice_no, "Total Amount Due" %>
            </div>
            <div class="input_field" id="total_amount_paid">
              <%=  check_box :configuration, :show_toatl_paid_amount , :checked => @enable_total_amount == "1"%>
              <%= f.label :fee_invoice_no, "Total Amount Paid" %>
            </div>
          </div>
        </div>
      </div>
    
      <% amount_in_words_enabled = (@config[:pdf_receipt_atow].to_i == 1) %>
      <div class="setting_block">
        <div class="setting_label">
          <%= t('amount_in_words') %>
          <div class="description">
            <%= t('finance_settings.amount_in_words_settings_descr') %>
          </div>
        </div>
        <div class="setting_options">
          <div class="radio_pair_main_float amount_in_words">
            <%= f.radio_button "pdf_receipt_atow", "1", :checked => amount_in_words_enabled %>
            <%= f.label :pdf_receipt_atow_1, t('enable') %>
          </div>
          <div class="radio_pair_main_float amount_in_words">
            <%= f.radio_button "pdf_receipt_atow", "0", :checked => (@config[:pdf_receipt_atow].to_i == 0) %>
            <%= f.label :pdf_receipt_atow_0, t('disable') %>
          </div>
        </div>
      </div>

      <div class="setting_block" id="number_system" style="<%= amount_in_words_enabled ? 'display:block' : 'display:none'%> ">
        <div class="setting_label">
          <%= t('amount_wording_system') %>
        </div>
        <div class="setting_options">
          <div class="radio_pair_main_float">
            <%= f.radio_button "pdf_receipt_nsystem", "1", :checked => (@config[:pdf_receipt_nsystem].to_i == 1) %>
            <%= f.label :pdf_receipt_nsystem_1, t('indian') %>
          </div>
          <div class="radio_pair_main_float">
            <%= f.radio_button "pdf_receipt_nsystem", "0", :checked => (@config[:pdf_receipt_nsystem].to_i == 0) %>
            <%= f.label :pdf_receipt_nsystem_0, t('western') %>
          </div>
        </div>
      </div>

      <%# advance fee payment settings %>
      <% online_payment_enabled = (@config[:advance_fee_payment_for_student].to_i == 1) %>
      <div class="setting_block"%>
        <div class="setting_label">
          <%= t('advance_payment_for_student') %>
          <div class="description">
            <%= t('advance_fee_settings_descr') %>
          </div>
        </div>
        <div class="setting_options">
          <div class="radio_pair_main_float">
            <%= f.radio_button "advance_fee_payment_for_student", "1", :checked => (@config[:advance_fee_payment_for_student].to_i == 1) %>
            <%= f.label :advance_fee_payment_for_student_1, t('enabled') %>
          </div>
          <div class="radio_pair_main_float">
            <%= f.radio_button "advance_fee_payment_for_student", "0", :checked => (@config[:advance_fee_payment_for_student].to_i == 0), :disabled => @advance_fee_status,
            :"data-toggle" => "tooltip", :"data-placement" => "left", :title => (@advance_fee_status == true ? t('advance_fee_feature_dependencies_error') : '') %>
            <%= f.label :advance_fee_payment_for_student_0, t('disabled') %>
          </div>
        </div>
      </div>

	 <% waiver_receipt_config = (@config[:disable_receipt_number].to_i == 1) %>
      <div class="setting_block">
        <div class="setting_label">
          <%= t('waiver_discount_receipt_no_settings') %>
          <div class="description">
            <%= t('finance_settings.receipt_no_generation_descr') %>
          </div>
        </div>
        <div class="setting_options">
          <div class="radio_pair_main_float">
            <%= f.radio_button "disable_receipt_number", "1", :checked => (@config[:disable_receipt_number].to_i == 1) %>
            <%= f.label :disable_receipt_number_1, t('enable') %>
          </div>
          <div class="radio_pair_main_float">
            <%= f.radio_button "disable_receipt_number", "0", :checked => (@config[:disable_receipt_number].to_i == 0) %>
            <%= f.label :disable_receipt_number_0, t('disable') %>
          </div>
        </div>
      </div>
      
      <% fine_enabled = @config[:enable_fine_settings].to_i == 1 %>
      <div class="setting_block">
        <div class="setting_label">
          <%= t('fine_calculation') %>
          <div class="description">
            <%= t('fine_calculation_desc') %>
          </div>
        </div>
        <div class="setting_options">
          <div class="radio_pair_main_float fine_setting">
            <%= f.radio_button "enable_fine_settings", "1", :checked => fine_enabled %>
            <%= f.label :enable_fine_setting_1, t('enable') %>
          </div>
          <div class="radio_pair_main_float fine_setting">
            <%= f.radio_button "enable_fine_settings", "0", :checked => (@config[:enable_fine_settings].to_i == 0) %>
            <%= f.label :enable_fine_setting_0, t('disable') %>
          </div>
        </div>  
      </div>
      <hr/>
      <%= f.submit "#{t('save_settings')}", :disable_with => "#{t('please_wait')}", :class => "submit-button",
                   :onsubmit => "return validate()" %>
  <% end %>
  </div>

  <script type="text/javascript">

      j('.label-radio-pair_signature input').change(function () {
          if (j('.label-radio-pair_signature input:checked').val() == "0") {
              j("#signature_text").hide();
              j("#signature_text input").prop('disabled', true);
          } else {
              j("#signature_text").show();
              j("#signature_text input").prop('disabled', false);
          }

      });

      /*
       j('.multi_receipt_no input').change(function () {
       if (j('.multi_receipt_no input:checked').val() == "1") {
       j("#default_receipt_settings").hide();
       j("#default_receipt_settings input").prop('disabled', true);
       } else {
       j("#default_receipt_settings").show();
       j("#default_receipt_settings input").prop('disabled', false);
       }

       }); */

      j('.amount_in_words input').change(function () {
          if (j('.amount_in_words input:checked').val() == "0") {
              j("#number_system").hide();
              j("#numbering_system input").prop('disabled', true);
          } else {
              j("#number_system").show();
              j("#number_system input").prop('disabled', false);
          }
      });

      j('.enable_invoice_number').change(function () {
          if (j('.enable_invoice_number input:checked').val() == "0") {
              j("#invoice_number_settings").hide();
              j("#invoice_amount_display_settings").hide();
              j("#invoice_number_settings input").prop('disabled', true);
          } else {
              j("#invoice_number_settings").show();
              j("#invoice_amount_display_settings").show();
              j("#invoice_number_settings input").prop('disabled', false);
          }
      });
  </script>
