<div class="fee_type_title"><%= t('master_fees.transport_fee') %></div>

<input type="hidden" name="manage_masters[particulars][transport][]" id="manage_masters_master_fee_particular_id_transport">
<table class="gray_table_list margin-v-20" align="center" width="100%" cellpadding="0" cellspacing="0">
  <tr class="row-a main_head">
    <td class="col-name"><%= t('name') %></td>
    <td class="col-desc set_border_right"><%= t('master_fees.master_particular') %></td>
  </tr>
  <tr class="row-b">
    <td class="col-name"><%= t('transport_fee.bus_fare') %></td>
    <td class="col-desc set_border_right">
      <%= "Bus Fare" %>
    </td>
  </tr>
</table>