<% content_for :head do %>
  <% if rtl? %>
    <%= stylesheet_link_tag "#{RAILS_ROOT}/public/stylesheets/rtl/finance_extensions/generate_particular_fee_receipt_pdf.css" ,:media=>"all"%>
  <%else %>
    <%= stylesheet_link_tag "#{RAILS_ROOT}/public/stylesheets/finance_extensions/generate_particular_fee_receipt_pdf.css" ,:media=>"all"%>
  <% end %>
<% end %>

<%@fts_hash.each do |k,v|%>
  <div id="page-yield">
      <%=render :partial=>'fee_report_header',:locals=>{:v=>v}%>
      <% if has_particulars?(v) %>
    <%#= v[:particulars_list].inspect %>
        <div class="subsection">
            <hr class="light_hor_line"/>
            <div id="sub_text_left"><%=t('particular')%></div>
            <div id="sub_text_right" class=""><%=t('amount')%> (<%= v["currency"] %>)</div>
            <hr class="light_hor_line"/>
            <div class="extender"></div>
        </div>
      <% end %>
      <% if v[:is_particular_wise] != true%>
        <%v["categorized_particulars"].each_with_index do |particular_type,i|%>
          <%particular_type.last.each_with_index do |fp,j|%>
            <div class="particulars_list">
                <div class="slno"><%=i+j+1%>.</div>
                <div class="particalar_name"><%=fp.name%></div>
                <div class="particalar_amount"><%= precision_label fp.amount %></div>
            </div>
          <%end%>
        <%end%>
        <%if precision_label(v["total_discount"].to_f).to_f != 0.0%>
          <div class="subsection">
              <hr class="light_hor_line"/>
              <div id="sub_text_left"><%=t('discount')%></div>
              <div id="sub_text_right"><%=t('amount')%> (<%= v["currency"] %>)</div>
              <hr class="light_hor_line"/>
              <div class="extender"></div>
          </div>
          <%v[:discounts_list].each_with_index do |d,i|%>
            <div class="particulars_list">
                <div class="slno"><%=i+1%>.</div>
                <div class="particalar_name"><%= d.name %></div>
                <div class="particalar_amount"><%= precision_label(d.amount) %></div>
            </div>
          <%end%>
        <%end%>
        <% if v[:fine_list].present? and v["fine_amount"].to_f > 0.0 %>
          <div class="subsection">
              <hr class="light_hor_line"/>
              <div id="sub_text_left"><%=t('fine')%></div>
              <div id="sub_text_right"><%=t('amount')%> (<%= v["currency"] %>)</div>
              <hr class="light_hor_line"/>
              <div class="extender"></div>
          </div>
          <%v[:fine_list].each_with_index do |fine,i|%>
            <div class="particulars_list">
                <div class="slno"><%=i+=1%>.</div>
                <div class="particalar_name rtl_bracket_fix"><%= fine.name %></div>
                <div class="particalar_amount"><%= precision_label(fine.amount) %></div>
            </div>
          <%end%>
        <% end %>
      <% else %>
        <% v[:particulars_list].each_with_index do |particular,index| %>
          <div class="particular_wise_item">
              <div class="slno"><%=index+1%>.</div>
              <div class="particalar_name"><%=particular.name%></div>
              <div class="right_total addl_5_margin">
                  <div class="right_total_label"><%=t('actual_amount')%></div>
                  <div class="right_total_amount"><%= precision_label(particular.amount) %></div>
                  <%unless v["finance_type"] == 'InstantFee'%>
                    <div class="right_total_label"><%=t('remaining_balance')%></div>
                    <div class="right_total_amount"><%= precision_label(particular.remaining_balance) %></div>
                  <%end%>
                  <% if particular_has_discount(particular) %>
                    <div class="right_total_label"><%=t('discount')%></div>
                    <div class="right_total_amount"><%= precision_label(particular.discount)%></div>
                  <% end %>
                  <% if v["collection"].tax_enabled %>
                    <div class="right_total_label"><%=t('tax_text')%></div>
                    <div class="right_total_amount"><%= precision_label(particular.tax_amount)%></div>
                  <% end %>
                  <div class="right_total_label bold"><%=t('amount_paid')%></div>
                  <div class="right_total_amount bold"><%= precision_label(particular.amount_paid) %></div>
                  <%unless v["finance_type"] == 'InstantFee'%>
                    <div class="right_total_label"><%=t('balance')%></div>
                    <div class="right_total_amount"><%= precision_label(particular.balance) %></div>
                  <%end%>
              </div>
          </div>
        <% end %>
        <% if v[:fine_list].present? %>
          <div class="subsection">
              <hr class="light_hor_line"/>
              <div id="sub_text_left"><%=t('fine')%></div>
              <div id="sub_text_right"><%=t('amount')%> (<%= v["currency"] %>)</div>
              <hr class="light_hor_line"/>
              <div class="extender"></div>
          </div>
        <% end %>
        <%v[:fine_list].each_with_index do |fine,i|%>
          <div class="particulars_list">
              <div class="slno"><%=i+=1%>.</div>
              <div class="particalar_name"><%= fine.name %></div>
              <div class="particalar_amount"><%= precision_label(fine.amount) %></div>
          </div>
        <%end%>
      <% end %>
      <!--  -->
      <div class="summary">
          <div class="subsection summary-line">
              <hr class="light_hor_line"/>
              <div id="sub_text_left"><%=t('summary')%></div>
              <div id="sub_text_right"><%=t('amount')%> (<%= v["currency"] %>)</div>
          </div>
          <%i=0%>
          <div class="particulars_list">
              <div class="slno"><%=i+=1%>.</div>
              <div class="particalar_name"><%= "#{t('total')} #{t('fees_text')}" %></div>
              <div class="particalar_amount"><%= precision_label(v["total_payable"]) %></div>
          </div>
          <% if has_discount?(v) %>
            <div class="particulars_list">
                <div class="slno"><%=i+=1%>.</div>
                <div class="particalar_name"><%= "#{t('total')} #{t('discount')}" %></div>
                <div class="particalar_amount"><%= precision_label(v["total_discount"].to_f) %></div>
            </div>
          <% end %>
          <% if has_fine?(v) %>
            <div class="particulars_list">
                <div class="slno"><%=i+=1%>.</div>
                <div class="particalar_name"><%= "#{t('total_fine_amount')}" %></div>
                <div class="particalar_amount"><%= precision_label(v['total_fine_amount']) %></div>
            </div>
          <% end %>          
          <% if v["collection"].tax_enabled %>
            <div class="particulars_list">
                <div class="slno"><%=i+=1%>.</div>
                <div class="particalar_name"><%= "#{t('tax_text')}" %></div>
                <div class="particalar_amount"><%= precision_label(v['total_tax']) %></div>
            </div>
          <% end %>
      </div>
      <div class="receipt-footer-bottom">
          <div class="left_info">
              <div class="left_info_label"><%=t('payment_mode')%></div>
              <div class="left_info_value"><%= v["payment_mode"] %></div>
              <%if v["reference_no"].present?%>
                <div class="left_info_label"><%= reference_no_label(v) %></div>
                <div class="left_info_value"><%= v["reference_no"] %></div>
              <%end%>
              <%if v["payment_note"].present?%>
                <div class="left_info_label"><%=t('notes')%></div>
                <div class="left_info_value"><%= v["payment_note"] %></div>
              <%end%>              
              <% if v["collection"].tax_enabled %>
                <% if @tax_config.present? and @tax_config[:finance_tax_identification_label].present? %>
                  <div class="left_info_label">
                      <%= @tax_config[:finance_tax_identification_label] %>
                  </div>
                  <div class="left_info_value">
                      <%= @tax_config[:finance_tax_identification_number] %>
                  </div>
                <% end%>
              <%  end%>
          </div>
          <div class="right_total">
              <%unless v["finance_type"] == 'InstantFee'%>
                <div class="right_total_label"><%=t('total_amount_to_pay')%></div>
                <div class="right_total_amount"><%= precision_label(v["total_amount_to_pay"]) %></div>
                <% if has_previously_paid_fees?(v) %>
                  <div class="right_total_label"><%=t('previous_payments')%></div>
                  <div class="right_total_amount"><%= precision_label(v["done_amount"]) %></div>
                <% end %>

              <%end%>
              <% if has_previously_paid_fees?(v) %>
                <div class="right_total_label"><%=t('total_amount_paid')%></div>
                <div class="right_total_amount"><%= precision_label(v["total_amount_paid"].to_f) %></div>
              <% end %>      
              <%unless v["finance_type"] == 'InstantFee'%>
                <%if has_due?(v) %>
                  <div class="right_total_label"><%=t('total_due_amount')%></div>
                  <div class="right_total_amount"><%= precision_label(v["total_due_amount"].to_f) %></div>
                <% end %>
              <%end%>
          </div>
      </div>


      <div class="receipt-footer-bottom words_bottom">
          <% show_amount_in_words = (@config[:pdf_receipt_atow].present? and @config[:pdf_receipt_atow]=="1") %>
          <div class="left_info amount_margin">
              <% if show_amount_in_words %>
                <span style="font-weight: bold;"><%=t('amount_in_words')%></span> : 
                <%= NumberToWord.convert(precision_label(v["amount"].to_f), @config[:pdf_receipt_nsystem], 
                @default_currency) %>
              <% end %>
              <% if @invoice_enabled and v["collection"].invoice_enabled %>
                <span style="font-weight: bold;">
                    <%=t('payment_for_invoice')%></span> : 
                <%= v["invoice_no"] %>
              <% end %>
          </div>    
          <div class="right_total amount_paid">
              <b>
                  <div class="right_total_label"><%= t('amount_paid') %></div>
                  <div class="right_total_amount"><%= precision_label(v["amount"].to_f) %></div>
              </b>
          </div>
      </div>



      <div id="pdf-footer-second">
          <div class="note_part"><%= @config[:pdf_receipt_custom_footer] %></div>    
          <div class="signature_part">
              <% if @config[:pdf_receipt_signature].present? and @config[:pdf_receipt_signature]=="1" %>
                <%= @config[:pdf_receipt_signature_name].blank? ? t('signature') :  @config[:pdf_receipt_signature_name] %>
              <% end %>
          </div>
      </div>
  </div>
  <div class="page-break"></div>
<%end%>
