<% content_for :head do %>
    <% @direction = (rtl?) ? 'rtl/' : '' %>
    <% if params.key?(:debug) %>
        <%= stylesheet_link_tag "#{@direction}finance/generate_fee_receipt_pdf.css", :media => "all" %>
    <% end %>
    <%= wicked_pdf_stylesheet_link_tag "#{@direction}finance/generate_fee_receipt_pdf" %>
<% end %>

<% @transactions.each_with_index do |transaction_hash, i| %>
    <% total_fees = 0 %>
    <% default_configs ||= nil %>
    <% @config ||= {} %>
    <div id="page-yield">
      <%= render :partial => "finance_extensions/receipts/common/receipt_header",
                 :locals => {:template_id => transaction_hash.template_id,
                             :default_configs => transaction_hash.default_configs} %>

      <%= render :partial => 'finance_extensions/receipts/common/fee_report_header',
                 :locals => {:transaction_hash => transaction_hash} %>

      <% if transaction_hash.wallet_mode_only.present? %>
        <div class="subsection">
          <div class="light_hor_line"></div>
          <div id="sub_text_left"><%= t('advance_fee_categories_text') %></div>
          <div id="sub_text_right"><%= t('amount') %> (<%= transaction_hash.default_configs.currency_symbol %>)</div>
          <div class="light_hor_line"></div>
          <div class="extender"></div>
        </div>
      <% else %>
        <% unless transaction_hash.particular_wise %>
            <div class="subsection">
              <div class="light_hor_line"></div>
              <div id="sub_text_left"><%= t('particulars') %></div>
              <div id="sub_text_right"><%= t('amount') %> (<%= transaction_hash.currency %>)</div>
              <div class="light_hor_line"></div>
              <div class="extender"></div>
            </div>
        <% end %>
      <% end %>
      <%= render :partial => single_receipt_partial(transaction_hash.finance_type, transaction_hash.particular_wise),
                 :locals => {:transaction_hash => transaction_hash, :total_fees => total_fees,:archived_student => @archived_student} %>
      <div class="small_hor_line"></div>

      <%= render :partial => "finance_extensions/receipts/common/receipt_footer",
                 :locals => {:template_id => transaction_hash.template_id,
                             :default_configs => transaction_hash.default_configs, :transaction_status => transaction_hash.transaction_status} %>
    </div>
    <div class="page-break"></div>
<% end %>
