<table class="gray_table_list" align="center" width="100%" cellpadding="0" cellspacing="0">
  <%= render :partial => "master_fee_table_head" %>
  <% if @master_discounts.present? %>
      <% @master_discounts.each do |md| %>
          <tr class="row-b">
            <td class="col-name"><%= md.name %></td>
            <td class="col-desc set_border_right"><%= md.description %></td>
            <td class="col-options set_border_right">
              <% if permitted_to? :edit_master_discount, :master_fees %>
                  <% unless md.has_dependencies? %>
                      <%= link_to_remote t('edit'), {:url => edit_master_discount_master_fee_path(md), :method => :get} %>
                      <%= link_to t('delete'), '#',
                                  :onclick => "make_popup_box(this, 'confirm',
                                           '#{t('delete_master_discount_confirmation', {:name => md.name})}',
                                           {'ok' : '#{t('delete')}', 'cancel' : '#{t('cancel')}',
                                           'title' : '#{t('delete_master_discount')}', 'return_status' : true,
                                           'popup_class' : 'delete_confirmation'}); return delete_obj(#{md.id},
                                           '#{session_fingerprint}','#{delete_master_discount_master_fee_path(md)}')" %>
                  <% else %>
                      <span> <%= t('edit') %> </span> <span> <%= t('delete') %> </span>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
  <% else %>
      <tr class="row-b">
        <td colspan="3">
          <%= t('no_master_discounts') %>
        </td>
      </tr>
  <% end %>
</table>

<%= pagination_status(@master_discounts) %>

<% if @master_discounts.present? %>
    <%= will_paginate @master_discounts, :renderer => 'RemoteLinkRenderer', :params => {:to_fetch => 'discounts'} %>
<% end %>
