<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div class="mode_select">
    <div class="label-field-pair">
        <label><%= t('mode') %> </label>
    </div>
    <div class="mode_option">
    <div class="text-input-bg">
        <%= radio_button_tag :mode , :month , checked = true, 
          :onclick => "#{remote_function(
        :url => { :action => :show , :mode => 'Monthly'},
        :with => "'mode='+'Monthly'+'&batch_id='+#{@batch.id}+'&subject_id='+#{@subject}"
        )}" %>
        <%= t('monthly') %>
    </div>
    <div class="text-input-bg">
        <%= radio_button_tag :mode , :custom ,checked = false,
          :onclick => "#{remote_function(
        :url => { :action => :show },
        :with => "'mode='+'custom'+'&batch_id='+#{@batch.id}+'&subject_id='+#{@subject}"
        )}" %>
        <%= t('custom') %>
    </div><div class="text-input-bg">
        <%= radio_button_tag :mode , :overall , checked = false,
          :onclick => "#{remote_function(
        :url => { :action => :show },
        :with => "'mode='+'Overall'+'&batch_id='+#{@batch.id}+'&subject_id='+#{@subject}"
        )}" %>
        <%= t('overall') %> 
    </div>
    </div>


</div>
  
<div id="month"><%= render :partial => 'month', :locals => {:mode => 'Monthly'}%></div>
