<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% unless @students.blank? %>
  <div class="enclosure_mini" id="batch_students_<%=@batch.id%>">
    <ul class="category-list_mini">
      <li class="listheading_mini">
        <div class="heading-name_mini">
          <div class="category-edit">
            <%= check_box_tag "full_student_list_#{@batch.id}", "",false%>
          </div>
          <%= t("multiple_student") %>
        </div>
      </li>
      <% @students.each do |s| %>
        <li class="list<%=cycle('odd', 'even')%>">
          <label>
            <div class="category-edit">
              <%= check_box_tag "student_list", "#{s.id}",false,{:class=>"student_list batch_students_#{@batch.id}"}%>
            </div>
            <div class="category-name_mini">
              <%= "#{s.name_with_suffix}" %>
            </div>
            <%if @batch.full_upscaled_students.include?(s.id)%>
              <i class="with_student"></i>
            <%end%>
          </label>
        </li>
      <% end %>
    </ul>
    <div id="sel_students_<%=@batch.id%>" class="select_button submit-button">Select Students</div>
    <div id="cancel_link_<%=@batch.id%>" class="cancel_btn">Cancel</div>
  </div>
<% else %>
  <ul id="category-list">
    <li class="listheading">
      <div class="heading-name">No students present</div>
      <div class="heading-edit">
      </div>
    </li>
  </ul>
<% end %>
<script type="text/javascript">
  arr=j('#course_batch_<%=@batch.id%>_students').attr('value');
  j('#full_student_list_<%=@batch.id%>').bind('change',function(){
    if(j(this).is(':checked')){
      j('.batch_students_<%=@batch.id%>').each(function(){
        j(this).prop('checked',true)
      });
    }
    else{
      j('.batch_students_<%=@batch.id%>').each(function(){
        j(this).prop('checked',false)
      });
    }
  });
  j('.student_list').bind('change',function(){
    if(j(this).is(':checked')){
      if(j('.batch_students_<%=@batch.id%>').length == j('.batch_students_<%=@batch.id%>:checked').length)
      {
        j('#full_student_list_<%=@batch.id%>').prop('checked',true);
      }
    }
    else{
      j('#full_student_list_<%=@batch.id%>').prop('checked',false);
    }
  });
  j('.student_list').each(function(){
    if(j('#course_batch_'+<%=@batch.id%>+'_students').prop('checked') == true && (j.inArray(j(this).attr('value'), arr.split(',')) != -1)){
      j(this).prop('checked',true);
      j('#full_student_list_<%=@batch.id%>').prop('checked',true)
    }
    else{
      j(this).prop('checked',false);
      j('#full_student_list_<%=@batch.id%>').prop('checked',false)
    }
  });
  j('.select_button').click(function(){
    new_arr=[]
    j('.batch_students_<%=@batch.id%>').each(function(){
      if(j(this).is(':checked')){
        new_arr.push(j(this).val());
      }
    });
    j('#course_batch_'+<%=@batch.id%>+'_students').attr('value',new_arr);
    j('#batch_students_'+<%=@batch.id%>).hide();
    if(j('.batch_students_<%=@batch.id%>:checked').length > 0 && (j('.batch_students_<%=@batch.id%>').length != j('.batch_students_<%=@batch.id%>:checked').length)){
      j('#course_batch_'+<%=@batch.id%>+'_students').prop("indeterminate", true).prop("checked", true)
      j('#full_batches_list').prop('checked',false);
    }
    else if(j('.batch_students_<%=@batch.id%>:checked').length > 0 && (j('.batch_students_<%=@batch.id%>').length == j('.batch_students_<%=@batch.id%>:checked').length)){
      j('#course_batch_<%=@batch.id%>_students').prop('indeterminate', false).prop('checked', true)
      if(j('.batch_list').length == j('.batch_list:checked').length)
      {
        j('#full_batches_list').prop('checked',true);
      }
    }
    else{
      j('#course_batch_<%=@batch.id%>_students').prop('indeterminate', false).prop('checked', false).removeAttr("checked");
      j('#full_batches_list').prop('checked',false);
    }
    
  });
  j('.cancel_btn').click(function(){
    j('#batch_students_'+<%=@batch.id%>).hide();
  });
</script>
