<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('transfer_certificate') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('transfer_certificate_description') %></div>

    <div id="inner-tab-menu">
        <%if can_access_request? :index, :tc_template_generate_certificates%>
        <ul>
            <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('generate_certificate')}", :controller => "tc_template_generate_certificates" %></li>
        </ul>
        <% end %>
    </div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :transfer_certificate%>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <div id="box">
        <%  if can_access_request? :settings, :tc_templates%>
          <div class="link-box">
              <div class="link-heading"><%= link_to "#{t('tc_template_settings')}", :controller=>"tc_templates", :action=>"settings"%></div>
              <div class="link-descr"><%= "#{t('template_settings_desc')}" %></div>
          </div>
        <% end %>

        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('generated_transfer_certificates')}", :controller=>"tc_template_generate_certificates", :action=>"generated_certificates"%></div>
            <div class="link-descr"><%= "#{t('generated_tc_desc')}" %></div>
        </div>
    </div>
</div>