<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('timetable_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('work_allotment') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% if @courses.present? %>
    <div class="accordion-courses-table">
      <div class="accordion-courses-heading">
        <div class="accordion-column-1">
          <%= t('courses_text') %>
        </div>
        <div class="accordion-column-2">
          <%= t('employee_subject_association_status') %>
        </div>
      </div>
      <div id="accordion-courses">
        <% cnt = 0 %>
        <% @courses.each_pair do |course,batches| %>
          <div class="accordion-course-heading">
            <div class="accordion-column-1">
              <%= course.full_name %>
            </div>
            <div class="accordion-column-2">
              <% total = 0 %>
              <% total_allocations = 0 %>
              <% batches.each do |batch| %>
                <% total += batch.subject_totals[:sum] %>
                <% total_allocations += batch.subject_totals[:allocations] %>
              <% end %>
              <% subjects_count = batches.map {|x| x.subjects }.flatten.length %>
              <% if subjects_count == 0 %>
                <%= t('no_subjects') %>
              <% elsif total_allocations == 0 %>
                <%= t('not_associated') %>
              <% elsif total_allocations < total %>
                <%= t('partially_associated') %>
              <% elsif total_allocations == total %>
                <%= t('completely_associated') %>
              <% end %>
            </div>
          </div>
          <% cnt = cnt.next %>
          <% @course = course %>

          <div class="accordion-course-batches-table" id="<%= @course.id %>">
            <% if cnt < 4 %>
              <%= render :partial => "course_work_allotment" %>
            <% else %>
              <%= render :partial => "course_work_allotment_empty_row" %>
            <% end %>
          </div>


        <% end %>
      </div>
    </div>
  <% end %>
</div>
<script>
  var icons = {  header: "down-arrow-img",  activeHeader: "up-arrow-img"  };
  j('#accordion-courses').accordion({
    icons: icons,
    collapsible: true,
    active: false, // enable it to prevent first loaded accordion from uncollapsing
    heightStyle: "content",
    activate: function(event, ui ){
      clicked = j(ui.newPanel[0]).attr('id');
      if(clicked !== undefined && j('#'+clicked).find('.batch-row').length == 0){
        j.ajax({
          url: '/timetable/update_course_work_allotment',
          data: {'id': clicked},
          method: 'post',
          beforeSend: function() {
            j('#loader-'+clicked).show();
          }
        }).always(function(){
          j('#loader-'+clicked).hide();
        });
      }     
    }
  })
</script>