<div class="import-container">
    <% remote_form_for(:import_subjects, :url => {:action=> 'import_subjects',:course_id=>@import_to}, :html => {:id => 'import_subject_form'}) do |f| %>
      <%= f.hidden_field :import_from, :value => @course.id %>
      <div class="panel">
          <div class="table_actions">
              <div class="pull-left w60p"><%= t('select_subjects') %></div>
              <div class="pull-right">
                  <%= link_to_function t('all'), "$$('input.select_subject').each(function(checkbox) { checkbox.checked = true; });" %>,
                  <%= link_to_function t('none'), "$$('input.select_subject').each(function(checkbox) { checkbox.checked = false; });" %>
              </div>
          </div>
          <div class="subject_table">
              <table align="center" width="100%" cellpadding="1" cellspacing="1">
                  <% @components.each do |component| %>
                    <tr>
                        <td class="check_all">
                            <% component_imported =  @imported_components[component.class.table_name.to_sym].include?(component.id)%>
                            <%= check_box_tag "import_subjects[#{component.class.name.underscore}_ids][]", component.id, component_imported, 
                              :class => "select_subject", :disabled => component_imported %>
                        </td>
                        <td class="course_name import_component_listing">
                            <table align="center" width="100%" cellpadding="1" cellspacing="1" id="logs" class="subject_list_table">
                                <% if component.is_a? CourseSubject %>
                                  <%= render :partial => 'import_subject', :locals => {:subject => component, :klass => 'level-1', :tbody_required => true, :enable_selection => component_imported} %>
                                <% elsif component.is_a? CourseElectiveGroup %>
                                  <%= render :partial => 'import_elective_group', :locals => {:e_group => component, :klass => 'level-1', :enable_selection => component_imported} %>
                                <% elsif component.is_a? SubjectGroup %>
                                  <%= render :partial => 'import_subject_group', :locals => {:subject_group => component, :enable_selection => component_imported} %>
                                <% end %>
                            </table>
                        </td>
                    </tr>
                  <% end %>
              </table>
          </div>
      </div>

      <div class="panel" id="course_list">

      </div>
    <% end %>
</div>