<% if @subject_groups.present? %>
  <table align="center" width="100%" cellpadding="1" cellspacing="1" id="logs">
      <tr class="tr-head">
          <td class="col-1"><%= t('no_text') %></td>
          <td class="course_name"><%= t('name_text') %></td>
          <td class="course_name"><%= t('status') %></td>
          <td class="course_name"><%= t('options') %></td>
      </tr>
      <% @subject_groups.each_with_index do |group, index| %>
        <tr>
            <td class="col-1"><%= index + 1 %></td>
            <td class="course_name"><%= group.name %></td>
            <td class="course_name status"><%= group.description %></td>
            <td class="course_name">
                -
            </td>
        </tr>
      <% end %>
  </table>
<% else %>
  <p class="flash-msg"> <%= t('no_subject_groups') %> </p>
<% end %>