<div class="bread_crumb">
    <% breadcrumb :event_edit, @events%>
    <%= render_breadcrumbs  %>
</div>
<%#= flash[:notice] %>
<% remote_form_for :event, @events, :url => {:action => "update"},:html => {:id => "create_event"} do |f| %>
  <%= error_messages_for 'event' %>
  <div class="page_header_box">
      <div class="page_header"><%= t('edit_event')%> </div>
  </div>
  <div class="label-field-pair-title">
      <label for="title"><%= t('title') %>:</label>
      <div class="text-input-bg"><%= f.text_field :title %></div>
  </div>
  <div class="label-field-pair-date">
      <label for="start-date"><%= t('start_date') %>:</label>
      <div class="text-input-bg"><%= calendar_date_select_tag "event[start_date]", I18n.l(@events.start_date.to_time,:format=>("%Y-%m-%d %H:%M")), :time => true, :readonly=>true, :popup=>"force"%></div>
  </div>
  <div class="label-field-pair-date">
      <label for="end-date"><%= t('end_date') %>:</label>
      <div class="text-input-bg"><%= calendar_date_select_tag "event[end_date]", I18n.l(@events.end_date.to_time,:format=>("%Y-%m-%d %H:%M")), :time => true , :readonly=>true, :popup=>"force" %></div>
  </div>
  <div class="label-field-pair-date">
      <%= f.check_box :is_holiday %>
      <label for="event_is_holiday" id="is_holiday"><%= t('event_is_holiday') %></label>
  </div>
  <div class="label-field-pair-title">
      <label for="description"><%= t('description') %>:</label>
      <%= f.text_area "description" %>
  </div>

  <div class="page_sub_header"><%= t('event_audience')%> </div>

  <div class="label-field-pair-title">              
      <div class="radio_one"><%= radio_button_tag("is_common_users","all_users", (@events.is_common == true))%>  <label for="is_common_users_all_users"> <%="#{t('all_users_of_institution')}"%> </label></div>
      <div class="radio_two"><%= radio_button_tag("is_common_users","selected_users",(@events.is_common != true))%>  <label for="is_common_users_selected_users"><%="#{t('select_applicable_users')}"%> </label></div>
  </div>
  <div class="extra">

      <div class="select_users">
          <div class="left_align">
              <div class="page_sub_content"><%= t('students')%> </div>
              <%= render :partial=> 'select_course_for_edit', :locals => {:f => f} %>
          </div>

          <% @config = Configuration.available_modules%>
          <div id="select-option"></div>
          <% if @config.include?("HR") %>
            <div class="right_align">
                <div class="page_sub_content"><%= t('employees')%> </div>
                <%= render :partial=> 'select_employee_department_for_edit', :locals => {:f => f} %>
            </div>
          <% end %>

          <div id="select-options"></div>

      </div>
      
      <%= hidden_field_tag "event[is_common]", '', :id=> 'is_common_hidden'%>
      <%= hidden_field_tag "id", @events.id, :id=> 'id_hidden'%>
      <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
  </div>

  <% FedenaPlugin.deliver_registered_hook(:event_alert_form).each do |mod| %>
    <%= render :partial=>mod.camelize.constantize.send("event_alert_form"), :locals => {:f => f} %>
  <% end %>
  <%= f.submit "►#{t('update_event')}", :onClick => "return button_disable()", :class=>'submit-button' %>
  <div class="submit-button" id="event_submit"><%= link_to "#{t('cancel')}", :back %></div>
<% end %>
  
  <script type="text/javascript">

  if (j("input[name='is_common_users']:checked").val() === "all_users") {
      j(".select_users").hide();
      j('#is_common_hidden').val('1');
  } else {
      j(".select_users").show();
      j('#is_common_hidden').val('0');
  }

  j(document).on('change', "input[name='is_common_users']:radio", function () {
      if (j("input[name='is_common_users']:checked").val() === "all_users") {
          j(".select_users").hide();
           j('#is_common_hidden').val('1');
  } else {
      j(".select_users").show();
       j('#is_common_hidden').val('0');
      }
  });

  window.scrollTo(0, 0);
  
  function button_disable()
  {
  j('form#create_event').submit();
  j('.submit-button').attr('disabled', 'disabled');
  }
  

</script>