<div class="banner_col"><span class="label"><%= t('terms') %></span><span class='value'><%= @plan.terms_count %></span></div>
<div class="banner_col"><span class="label"><%= t('subject_exams') %></span><span class='value'><%= @plan.subject_exams.count %></span></div>
<div class="banner_col"><span class="label"><%= t('attribute_exams') %></span><span class='value'><%= @plan.attribute_exams.count %></span></div>
<div class="banner_col"><span class="label"><%= t('activity_exams') %></span><span class='value'><%= @plan.activity_exams.count %></span></div>
<div class="banner_col"><span class="label"><%= t('derived_exams') %></span><span class='value'><%= @plan.derived_exams.count %></span></div>