<table>
  <tr class="tr-head">
    <td class="emp_name"><%= t('employee_text') %></td>
    <td class="emp_no"><%= t('employee_number')  %></td>
    <td class="dpt_name"><%= t('department') %></td>
    <td class="recent_date"><%= t('net_salary') + " &#x200E;(#{currency})&#x200E;" %></td>
    <td class="status"><%= t('payslip_status') %></td>
    <td class="actions"><span class="substitute"></span></td>
  </tr>
  <% if @employees.present? %>
    <% @employees.each do |emp| %>
      <tr>
        <td class="emp_name">
          <%= emp.full_name %>
          <% if emp.employee_type == 'ArchivedEmployee' %>
            <span class ="archived"><%= "(#{t('archived')})" %></span>
          <% end %>
        </td>
        <td class="emp_no"><%=  emp.employee_number %></td>
        <td class="dpt_name"><%= emp.dept_name %></td>

        <td class="recent_date"><%= precision_label(emp.net_pay) %></td>
        <td class="status">
          <%= emp.payslip_status  %>
        </td>
        <td class="actions">
          <% date_range = @payslips_date_range.date_range %>
          <% unless params[:employee_status] == "outdated_structure_payslips" %>
            <% if emp.current_group == "0" %>
              <span class="error-icon" tooltip='<%= t('outdated_payroll') %>'></span>
            <% else %>
              <span class="substitute"></span>
            <% end %>
          <% else %>
            <span class="substitute"></span>
          <% end %>
          <% unless params[:finance].present? %>
            <% if emp.is_approved %>
              <% if permitted_to? :view_payslip, :employee_payslips %>
                <%= link_to t('view_payslip').capitalize, {:action => "view_payslip", :id => emp.id, :from => params[:from]||"payslip_generation_list"} %>
              <% end %>
            <% elsif emp.is_rejected %>
              <% if permitted_to? :edit_payslip, :employee_payslips and emp.employee_type == 'Employee' %>
                <%= link_to t('edit_payslip'), {:action => "edit_payslip", :id => emp.id, :from => params[:from]||"payslip_generation_list"} %>
              <% end %>
              <% if permitted_to? :revert_employee_payslip, :employee_payslips %>
                <%= link_to t('delete_payslip'), {:action => "revert_employee_payslip", :id => emp.id, :pg_id => params[:id], :from => "payslip_generation_list", :start_date => @start_date, :end_date => @end_date}, :onclick => "return make_popup_box(this, 'confirm', '#{t('delete_payslip_confirmation_message', {:name => emp.full_name, :pay_period => date_range})}',{'ok' : '#{t('delete_payslip')}', 'cancel' : '#{t('cancel')}', 'title' : '#{t('delete_payslip')}'});" %>
              <% end %>
            <% else %>
              <% if permitted_to? :view_payslip, :employee_payslips %>
                <%= link_to t('view_payslip').capitalize, {:action => "view_payslip", :id => emp.id, :from => params[:from]||"payslip_generation_list"} %>
              <% end %>
              <% if permitted_to? :revert_employee_payslip, :employee_payslips %>
                <%= link_to t('delete_payslip'), {:action => "revert_employee_payslip", :id => emp.id, :pg_id => params[:id], :from => params[:from]||"payslip_generation_list", :start_date => @start_date, :end_date => @end_date}, :onclick => "return make_popup_box(this, 'confirm', '#{t('delete_payslip_confirmation_message', {:name => emp.full_name, :pay_period => date_range})}',{'ok' : '#{t('delete_payslip')}', 'cancel' : '#{t('cancel')}', 'title' : '#{t('delete_payslip')}'});" %>
              <% end %>
            <% end %>
          <% else %>
            <% if permitted_to? :view_employee_payslip, :finance %>
              <%= link_to t('view_payslip').capitalize, {:controller => 'finance', :action => "view_employee_payslip", :id => emp.id, :from => params[:from]} %>
            <% end %>
          <% end %>
          <%= link_to t('pdf_report'), {:action => "view_payslip_pdf", :id => emp.id}, :target => '_blank' %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr><td colspan="6"><%= t('nothing_to_list') %></td></tr>
  <% end %>
</table>
<%= pagination_status(@employees) %>
<%= will_paginate @employees,:renderer => 'RemoteLinkRenderer', :params => {:id => @payroll_group.id, :start_date => @start_date, :end_date => @end_date, :employee_status => params[:employee_status],:payslip_status => params[:payslip_status], :finance => params[:finance]} %>

