<% if @schol_report.present? %>
  <% main_header = @schol_report.try(:report).try(:main_header)||[] %>
  <% header = @schol_report.try(:report).try(:header)||[] %>
  <% marks = @schol_report.try(:report).try(:marks)||[] %>
  <% excluded_marks = @schol_report.try(:report).try(:excluded_marks)||[] %>
  <% co_sch = @schol_report.try(:report).try(:activities)||[] %>
  <% agg_marks = @schol_report.try(:report).try(:overall_marks) || [] %>
  <% agg_grades = @schol_report.try(:report).try(:overall_grades) || [] %>
  <% agg_percentage = @schol_report.try(:report).try(:overall_percentage) || [] %>
  <% attendance = @schol_report.try(:report).try(:attendance)||[] %>
  <% records = @schol_report.try(:report).try(:records)||[] %>
  <% remarks = @schol_report.try(:report).try(:remarks)||[] %>
  <% if header.present? %>
    <table align="center" width="100%" cellpadding="1" cellspacing="1">
        <tr class="re-head">
            <td class="col-2"><%= t('scholastic_areas') %></td>
            <% main_header.each do |m_h| %>
              <td class="col-1" colspan="<%= m_h.second %>"><%= m_h.last %></td>
            <% end %>
        </tr>
        <tr class="header-text">
            <td><%= t('subject') %></td>
            <% header.each do |name| %>
              <td><%= name %></td>
            <% end %>
        </tr>
        <% marks.each do |row| %>
          <tr class="tr-<%= cycle('even', 'odd') %>">
              <% row.each do |cell| %>
                <% if cell.kind_of?(Hash) %>
                    <td rowspan="<%= cell[:row_span] %>" class='sub_remark'><%= cell[:remark] %></td>
                <% else %>
                    <td><%= cell %></td>
                <% end %>
              <% end %>
          </tr>
        <% end %>
        <% [agg_marks, agg_grades,agg_percentage ].reject{|a| a.blank? }.each do |score| %>
          <tr class="tr-<%= cycle('even', 'odd') %>">
              <td colspan="<%= score.second %>"><b><%= score.first %></b></td>
              <% score.third.each do |cell| %>
                <td><%= cell %></td>
              <% end %>
          </tr>
        <% end %>
        <% excluded_marks.each do |row| %>
          <tr class="tr-<%= cycle('even', 'odd') %>">
              <% row.each do |cell| %>
                <% if cell.kind_of?(Hash) %>
                    <td rowspan="<%= cell[:row_span] %>" class='sub_remark'><%= cell[:remark] %></td>
                <% else %>
                    <td><%= cell %></td>
                <% end %>
              <% end %>
          </tr>
        <% end %>
    </table>
  <% end %>
  <%= render :partial=> 'show_attendance', :locals=> {:attendance=>attendance} %>
  <% if co_sch.present? %>
    <table align="center" width="100%" cellpadding="1" cellspacing="1" class="coscholastic_area_table">
        <% co_sch.each_with_index do |section, i| %>
          <% header = true %>
          <% if i > 0 %>
            <tr class="empty_row">
                <td class="2"></td>
            </tr>
          <% end %>
          <% section.each do |row| %>
            <tr class="tr-<%= cycle('even', 'odd') %> <%= header ? 'header-text' : '' %>">
                <% header = false %>
                <% row.each_with_index do |cell, index| %>
                  <td class="<%= (index%2 == 0) ? 'even' : 'odd' %> co-scholastic"><%= cell %></td>
                <% end %>
            </tr>
          <% end %>
        <% end %>
    </table>
  <% end %>
  <%= render :partial=> 'assessment_reports/show_records', :locals=> {:records=>records} %>
  <%= render :partial => 'assessment_reports/show_remarks', :locals => {:remarks=>remarks} %>
<% else %>
  <p class="flash-msg"> <%= t('no_reports') %> </p>
<% end %>