
<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('auto_credit_name') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('credit_leaves').titleize %></div>
    <% unless @leave_types.zero? %>

      <div id="inner-tab-menu">
          <ul>
              <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('credit_by_leave_group')}",{ :controller=>"employee_attendance", :action=>"credit_by_leave_groups" }%></li>
              <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('credit_leaves_of_all_employees')}",{ :controller=>"employee_attendance", :action=>"credit_all_employees" }%></li>
          </ul>
      </div>
    <% end %>
</div>

<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <h4><%= t('credit_leaves').titleize %></h4>
    <div class="description"><%= t('credit_leave_desc') %></div>
    <% unless @leave_types.zero? %>

      <div id="search_box_bg">
          <form name="employee" action="" style="display:inline;">

              <div id="form-content">
                  <div id="search_textbox">
                      <%= text_field_tag("query", params['query'], :autocomplete => 'off', :placeholder => "#{t('search_employee_name_or_no')}") %>
                      <%= image_tag("loader.gif",
                        :align => "absmiddle",
                        :border => 0,
                        :id => "loader1",
                        :style => "display: none;" ) %><br/>
                  </div>
              </div>
          </form>
          <div class="label-field-pair">
              <div class="text-input-bg"><%= select :employee_department, :department_id, @departments.map {|c| [c.name, c.id]},
                    {:prompt => "#{t('select_the_department')}"},
                    {:onChange => "#{remote_function(:url => {:action => "list_department_leave_credit"},
                    :with => "'department_id='+value",:before=>"$('loader').show();",:success=>"$('loader').hide();")}"} %>
                  <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %>
              </div>
          </div>
      </div>
      <div id="employee_list"></div>

      <div id="modal-box" style="display:none;"></div>
    <% end %>
</div>



<script type="text/javascript">

  var pagination = false;
  function employee_search_ajax() {
      j("#employee_ids").val("");
      j("#employee_department_department_id").val("");
      if ($('query').value.include("%"))
      return;
<%="#{remote_function(:url => {:action => "credit_employee_search_ajax"},
:with =>  "j('form').serialize()",
:before => "Element.show('loader1')",
:success => "Element.hide('loader1')",
:update=>"information"
)}"%>
  }


  j('#query').bind('input', employee_search_ajax)


  function verify_check()
  {
      var c = false;
      $$('.batches_box').each(function (check) {
          if (check.checked) {
              c = true;
          }
      })
      j(".error").remove();
      if (c && ids.length > 0)
      {
          // j("#all_employees").prop("disabled","disabled");
          return true;
      }
      else
      {
          if (j("#all_employees").length > 0)
              j("#employee_list").append("<div class='error'><div class='error-icon'></div><div class='error-msg'>" + '<%= "#{t('select_atleast_one_employee')}"%>' + "</div></div>")
          return false;
      }


  }

  j("#employee_department_department_id").change(function () {
      j("#employee_ids").val("");
      j("#query").val("");
  })
  function reset_leave_confirm() {
      var sure = "<%= t('are_you_completely_sure') %>";
      var confirm_msg = sure;
      if (j('#log_reset_remark').val() == "") {
          return true;
      }
      else if (j('#reset_date').val() == "") {
          return true;
      }
      else
          return confirm(confirm_msg);
  }
  function select_all_fields(th_is) {
      if (j(th_is).is(':checked')) {
          j(th_is).parent().parent().find(".leave_type_list").prop('checked', 'checked');
      }
      else {
          j(th_is).parent().parent().find(".leave_type_list").prop('checked', false);
      }
  }

  function toggle_field_selector(th_is) {
      var unchecked_box = j(th_is).parent().parent().find(".leave_type_list:checkbox:not(:checked)").length;
      if (unchecked_box === 0) {
          j(th_is).parent().parent().find(".select_all_check").prop('checked', 'checked');
      }
      else {
          j(th_is).parent().parent().find(".select_all_check").prop('checked', false);
      }
  }
  function onErrorPresent() {
      document.getElementById('form-errors').scrollIntoView({
          block: "start",
          behavior: "smooth"});
  }


</script>