<% if rtl? %>
  <%= stylesheet_link_tag "rtl/gray_table_design" %>
<% else %>
  <%= stylesheet_link_tag "gray_table_design" %>
<% end %>
<% if @student.present? %>
  <table class="gray_table_list" align="center" width="100%" cellpadding="0" cellspacing="0">
    <tr class="main_head">
      <td class="set_border_right"><%= t('receipt_no') %></td>
      <td class="set_border_right"><%= t('transaction_date') %></td>
      <td class="set_border_right"><%= t('payment_mode') %></td>
      <td class="set_border_right"><%= t('payment_notes') %></td>
      <td class="set_border_right" style="width: 20%"><%= t('amount') %> (<%= currency %>)</td>
    </tr>

    <tr>
      <td class="set_border_right"><%= @finance_transaction.finance_transaction_receipt_record.transaction_receipt.ef_receipt_number %></td>
      <td class="set_border_right"><%= @finance_transaction.transaction_date %></td>
      <td class="set_border_right"><%= @finance_transaction.payment_mode %></td>
      <td class="set_border_right" style="width: 20%"><%= @finance_transaction.payment_note %></td>
      <td class="set_border_right"><%= @finance_transaction.wallet_amount %></td>
    </tr>
  </table>
  <div class="seprater_div_bottom">
        <div id="inner-tab-menu">
            <ul>
                <li class='themed_bg themed-dark-hover-background'>
                    <%= link_to "#{t('csv_report')}", {:controller => "csv_export", :action => "generate_csv",
                      :csv_report_type => "advance_fees", :report_format_type => "csv",
                      :start_date => @start_date, :end_date => @end_date, :transaction_id => @finance_transaction.id, :student_id => @student.id} %>
                </li>
            </ul>
        </div>
    </div>
<% end %>
