<% content_for :head do  %>
  <%= stylesheet_link_tag(*get_stylesheet_for_current_receipt_template) %>
  <%= javascript_include_tag("receipt_printer") %>
<% end %>

<%# @transactions.each do |k|%>
  <%= render :partial => get_current_receipt_partial, :locals => {:transaction_hash => @transactions, :wallet_mode => true } %>
  <div class="page-break"></div>
<%# end %>
<% if false %>
<% if ReceiptPrinter.hide_header? %>
  <style >
      .receipt-header{
          visibility: hidden;
      }
      #pdf-header{
          visibility: hidden;
          height: <%= ReceiptPrinter.receipt_printer_header_height %>mm;
      }
  </style>
<% end %>

<script type="text/javascript">

  j('section:empty').remove();

  j.map(j("section"), function (val, i) {
      if (val.innerHTML.trim() == "") {
          val.remove();
      }
  });

<% if ReceiptPrinter.receipt_printer_header_type ==1 %>
    j(".receipt-header").css("height", "<%= ReceiptPrinter.receipt_printer_header_height %>mm");
    j("#pdf-header").css("height", "<%= ReceiptPrinter.receipt_printer_header_height %>mm");
    j(".receipt-header").empty();
    j("#pdf-header").empty();
<% end %>

</script>
<% end %>
