<% if @batch.present? %>
  <% unless ((@current_user.employee? and !@current_user.admin? and !@current_user.privileges.include?(Privilege.find_by_name('ManageCourseBatch'))) and @current_user.can_view_results?) %>

    <% if permitted_to? :index,:exam_groups and @batch.allow_exam_acess(@current_user)%>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('exams_text')}", batch_exam_groups_path(@batch) %> </li>
    <% end %>

    <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('edit_text')}", edit_course_batch_path(@course, @batch) %></li>
    <li class='themed_bg themed-dark-hover-background'><%= link_to("#{t('delete_text')}", [@course, @batch], :method => 'delete', :confirm => "#{t('delete_confirm_msg')}") %></li>

    <li  id="drop_header" class='themed_bg themed-dark-hover-background'>
      <a href="#" id="drop_header_link"><%= t('manage') %> &#9660;</a>
      <ul id="box_1" class="more-menu-div" style="display:none;">
        <li class='themed_bg themed-dark-hover-background'>
          <%= link_to "#{t('subject')}", :controller=>"subjects", :action=>'index', :batch_id=>@batch %>
        </li>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('assign_tutor')}",:action=>'assign_tutor', :id=>@batch %></li>
        <% permitted_to? :set_roll_numbers, @batch,:context=>:student_roll_number do %>
          <% if @batch.roll_number_generated? %>
            <li class='themed_bg themed-dark-hover-background'><%= link_to t('manage_roll_numbers'),:controller => "student_roll_number", :action => "edit_roll_numbers", :id=>@batch,:src=>"batch_list" %></li>
          <% else %>
            <li class='themed_bg themed-dark-hover-background'><%= link_to t('manage_roll_numbers'),:controller => "student_roll_number", :action => "set_roll_numbers", :id=>@batch,:src=>"batch_list" %></li>
          <% end %>
        <% end %>
      </ul>
    </li>

  <% else %>
    <% permitted_to? :set_roll_numbers, @batch,:context=>:student_roll_number do %>
      <% if @batch.roll_number_generated? %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to t('manage_roll_numbers'),:controller => "student_roll_number", :action => "edit_roll_numbers", :id=>@batch,:src=>"batch_list" %></li>
      <% else %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to t('manage_roll_numbers'),:controller => "student_roll_number", :action => "set_roll_numbers", :id=>@batch,:src=>"batch_list" %></li>
      <% end %>
    <% end %>
  <% end %>
<% end %>