<% roll_num_enabled = Configuration.enabled_roll_number? %>
<div class="static-columns">
    <table id="assessments">
        <thead>
            <tr class="tr-head">
                <td class="sl_no"><%= t('no_text') %></td>
                <td class="name"><%= t('student_text') %></td>
                <% if roll_num_enabled %>
                  <td class="roll_no"><%= t('roll_nos') %></td>
                <% else %>
                  <td class="roll_no"><%= t('admission_no') %></td>
                <% end %>
                <% if ([1,3].include? @assessment_group.scoring_type) %>
                  <td class="marks"><%= "#{t('marks')}(#{@max_marks})" %></td>
                <% end %>
                <% if ([2,3].include? @assessment_group.scoring_type) %>
                  <td class="grade"><%= t('grade') %></td>
                <% end %>
            </tr>
        </thead>
        <tbody class="table-body scrollbar">
            <% i=0 %>
            <% @students.each do |student| %>
              <% @report_hash[student.s_id].each do |obj| %>
                <% i+=1 %>
                <tr>
                    <td class="sl_no tableFirstCol"><%= i %></td>
                    <td class="name tableFirstCol"><%= student.full_name %></td>
                    <% if roll_num_enabled %>
                      <td class="roll_no tableFirstCol"><%= student.roll_number %></td>
                    <% else %>
                      <td class="roll_no tableFirstCol"><%= student.admission_no %></td>
                    <% end %>
                    <% if ([1,3].include? @assessment_group.scoring_type) %>
                      <td class="marks"><%= obj.mark||'-' %></td>
                    <% end %>
                    <% if ([2,3].include? @assessment_group.scoring_type) %>
                      <td class="grade">
                          <span class="grade_text"><%= obj.grade||'-' %></span>
                      </td>
                    <% end %>  
                </tr>
              <% end %>
            <% end %>
        </tbody>
    </table>
</div>
<div id="buttons">
    <%= link_to "#{t('csv_report')}", {:controller => "csv_export", :action => "generate_csv", 
      :csv_report_type => "gradebook_subject_report",:report_format_type => "csv", :course => params[:subject_report][:course], :ac_year_id => params[:academic_year][:year_id],
      :exam => @assessment_group.id, :batch => params[:subject_report][:batch], :subject => params[:subject_report][:subject],:gender => params[:subject_report][:gender], :student_category=> params[:subject_report][:student_category],:subject_exam_report=>true, :max_marks=>@max_marks},:class => "user_button"%>
</div>