<%-# Fedena
#Copyright 2018 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%content_for :head do%>
  <%= javascript_include_tag "jquery/fa_scores.min.js" %>
  <%= javascript_include_tag "render_pdf.js" %>
<%end%>
<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('gradebook') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('student_reports') %></div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>
    <div class="report_container_box">
        <div class="header"><%= t('student_reports') %></div>
        <div class="description_text_div">
            <%=t('student_reports_desc')%>
        </div>
        <div class="academic_year_select_box" id="academic_year_select_box">
              <div id="academic_year_label"><%="#{t('academic_year').titleize} : "%></div>
              <div id="academic_year_show"><%=@academic_year.name%></div>
              <div id="academic_year_change">
                  <%= select_tag "academic_year[year_id]", 
                    options_for_select(@academic_years.map{|ay| [ay.name,ay.id]}, @academic_year.try(:id)||'') ,
                    :onchange => "#{remote_function(:url => {:action => "change_academic_year"},:with => "'id='+value +'&report_type=#{@report_type}'")}" %>
              </div>
              <div id="academic_year_change_button"><%= link_to t('change'), '#', :onclick=>'toggle_change_ay(this)'%></div>
          </div>
        <div id="flash"></div>
        <% remote_form_for :student_report ,:url=>{:action=>'student_wise_generated_report'} ,:loading => "$('loading').show();", :loaded => "$('loading').hide();" do |f| %>
          <%= hidden_field_tag "academic_year[year_id]" , :value =>@academic_year.id %>
          <div class="selectors">
              <div class="first-row">
                  <div id="select_course" class="select_course">
                      <div class="label-field-pair">
                          <label for="course" class="label-course"><%= t('course_text') %></label>
                          <span class="course_selector">
                              <%= f.select :course, @courses.map{|c| [c.full_name, c.id]},
                                {:include_blank=>t('select_courses')},
                                {:onChange => "#{remote_function(:url => {:action => "reload_batches"},
                                :with => "'course_id='+ value +'&academic_year_id= #{@academic_year.id}'+'&report_type=#{@report_type}'"  
                                )}"}%>
                          </span>
                      </div>
                  </div>
                  <div id="select_batch" class="select_batch">
                      <div class="label-field-pair">
                          <label for="batch" class="label-batch"><%= t('batch') %></label>
                          <span class="batch_selector">
                              <%= f.select :batch, @batches.map{|b| [b.name, b.id]},
                                {:include_blank=>t('select_batch')}
                            %>
                          </span>
                      </div>
                  </div>
              </div>
              <div class="second-row">
                  <div id="select_report" class="select_report">
                      <div class="label-field-pair">
                          <label for="report" class="label-report"><%= t('report') %></label>
                          <span class="student_selector">
                              <%= f.select :report,
                                grouped_options_for_select(@list),
                                {:include_blank =>t('select_report')}
                            %>
                          </span>
                      </div>
                  </div>
                  <div id="select_student" class="select_student">
                      <div class="label-field-pair">
                          <label for="student" class="label-student"><%= t('student_text') %></label>
                          <span class="student_selector">
                              <%= f.select :student, @students.map{|s| [s.full_name, s.id]},
                                {:include_blank => t('select_student')}
                            %>
                          </span>
                      </div>
                  </div>
                  <div class="submit_btn">
                      <%= submit_tag "", :value => "► #{t('view')}", :class => "submit-button", :disable_with => "► #{t('please_wait')}" %>
                      <%= image_tag("loader.gif",
                        :align => "absmiddle",
                        :border => 0,
                        :id => "loading",
                        :style =>"display: none;" ) %>
                  </div>
              </div>
          </div>

        <% end %>
        <div id='student_report'>
            <div id="pdf_nav">
                <div class="prev-btn-container">
                    <button id="prev" class="pdf-nav-btn">Previous</button>
                </div>
                <div class="page-num-container">
                    <span class="page-num-span">Page: <span id="page_num"></span> / <span id="page_count"></span></span>
                </div>
                <div class="next-btn-container">
                    <button id="next" class="pdf-nav-btn">Next</button>
                </div>
            </div>
            <canvas id="planner-canvas"></canvas>
        </div>
        <div id="remarks_section"></div>
    </div>
    <div class="extender"></div>
    <div class="edit-pdf-group" id="pdf_link"></div>
</div>
<script>
  toggle_change_ay = function (el) {
      j('#academic_year_change').toggle();
      j('#academic_year_show').toggle();
      var text = j("#academic_year_change_button a").text() == 'Change' ? 'Cancel' : 'Change';
      j("#academic_year_change_button a").text(text)
  }
</script>