<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('id_cards') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'> <%= t('generated_id_cards') %></div>
  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('generate_id_cards')}", generate_id_card_id_card_templates_path  %></li>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('bulk_export')}", bulk_export_id_card_templates_path  %></li>
    </ul>
  </div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  
  <%if !@student_templates.present? && !@employee_templates.present? && !@parent_templates.present? %>
  <p class="flash-msg"> <%= t('no_id_card_templates_present') %> </p>
  <%else%>
  <div id="box">
    <div class="head">
      <%= t('generated_id_cards') %>
    </div>
    <div class="sub_text">
      <%= t('generated_id_cards_subhead') %>
    </div>
    <div class="content">
      <div class="student_templates">
        <%if @student_templates.present? %>
        <table class="primary">
          <tr>
            <th> <%= t('student_templates') %> </th>
            <th  class="links"></th>
          </tr>
          <%@student_templates.each do |t|%>
            <tr>
              <td><%= t.name %></td>
              <td>
                <%=link_to t('view_id_cards'), list_generated_id_cards_id_card_templates_path(:id_card_template_id=>t.id), :class=>"themed_text delete_links"%>
              </td>
            </tr>
          <%end%>

        </table>
        <%end%>
      </div>

      <div class="employee_templates">
        <%if @employee_templates.present? %>
        <table class="primary">
          <tr>
            <th> <%= t('employee_templates') %> </th>
            <th  class="links"></th>
          </tr>
          <%@employee_templates.each do |t|%>
            <tr>
              <td><%= t.name %></td>
              <td>
                <%=link_to t('view_id_cards'), list_generated_id_cards_id_card_templates_path(:id_card_template_id=>t.id), :class=>"themed_text delete_links"%>
              </td>
            </tr>
          <%end%>

        </table>
        <%end%>
      </div>

      <div class="parent_templates">
        <%if @parent_templates.present? %>
        <table class="primary">
          <tr>
            <th> <%= t('parent_templates') %> </th>
            <th class="links"></th>
          </tr>
          <%@parent_templates.each do |t|%>
            <tr>
              <td><%= t.name %></td>
              <td>
                <%=link_to t('view_id_cards'), list_generated_id_cards_id_card_templates_path(:id_card_template_id=>t.id), :class=>"themed_text delete_links"%>
              </td>
            </tr>
          <%end%>

        </table>
        <%end%>
      </div>
    </div>


  </div>
  <%end%>
</div>
