<section class="particulars-header">
  <div class="particulars-header-left"><%= t('particular') %></div>
  <div class="particulars-header-right"><%= t('amount') %> (<%= transaction_hash.currency %>)</div>
</section>

<% if transaction_hash.is_particular_wise != true %>
    <% i = 0 %>
    <section class="particulars">
      <% transaction_hash.fee_particulars.each do |particular| %>
          <div class="receipt-details_item">
            <div class="left"><%= i+=1 %>. <%= particular.name %></div>
            <div class="right"><%= particular.amount %></div>
          </div>
      <% end %>
    </section>
<% else %>
    <div class="particulars">
      <% transaction_hash.fee_particulars.each_with_index do |particular, index| %>
          <section class="particular_wise_item">
            <div class="particular_name">
              <%= "#{index+1}. #{particular.name}" %>
            </div>
            <div class="particular_wise_item_details">
              <div class="left">
                <%= t('amount') %>
              </div>
              <div class="right">
                <%= precision_label(particular.amount) %>
              </div>
            </div>
            <% if particular_has_previous_payments(particular) and transaction_hash.finance_type != 'InstantFee' %>
                <div class="particular_wise_item_details">
                  <div class="left">
                    <%= t('remaining_balance') %>
                  </div>
                  <div class="right">
                    <%= precision_label(particular.remaining_balance) %>
                  </div>
                </div>
            <% end %>

            <% if particular_has_discount(particular) %>
                <div class="particular_wise_item_details">
                  <div class="left">
                    <%= t('discount') %>
                  </div>
                  <div class="right">
                    - <%= precision_label(particular.discount) %>
                  </div>
                </div>
            <% end %>

            <% if transaction_hash.finance_type == 'InstantFee' and transaction_hash.tax_enabled %>
                <div class="particular_wise_item_details">
                  <div class="left">
                    <%= t('tax_text') %>
                  </div>
                  <div class="right">
                    <%= precision_label(particular.tax_amount) %>
                  </div>
                </div>
            <% end %>

            <div class="particular_wise_item_details">
              <div class="left">
                <%= t('amount_paid') %>
              </div>
              <div class="right">
                <%= precision_label(particular.amount_paid) %>
              </div>
            </div>

            <% unless transaction_hash.finance_type == 'InstantFee' %>
                <div class="particular_wise_item_details">
                  <div class="left">
                    <%= t('balance') %>
                  </div>
                  <div class="right">
                    <%= precision_label(particular.balance) %>
                  </div>
                </div>
            <% end %>

          </section>
      <% end %>
    </div>
<% end %>

<% if transaction_hash.discounts.present? %>
    <section class="discount">
      <p class="subtitle">
        <%= t('discount') %>
      </p>
      <% transaction_hash.discounts.each_with_index do |d, i| %>
          <div class="receipt-details_item">
            <div class="left"><%= i+=1 %>.<%= d.name %></div>
            <div class="right">- <%= d.discount_amount %></div>
          </div>
      <% end %>
    </section>
<% end %>

<% if has_tax?(transaction_hash) %>
    <% if transaction_hash.tax_slab_collections.present? %>
        <section class="tax">
          <p class="subtitle">
            <%= t('tax_text') %>
          </p>
          <% i = 0 %>
          <% transaction_hash.tax_slab_collections.each_pair do |slab_id, slab| %>
              <div class="receipt-details_item">
                <div class="left"><%= i+=1 %>.<%= slab.display_name %></div>
                <div class="right"><%= FedenaPrecision.set_and_modify_precision(slab.tax_amount.sum.to_f, transaction_hash.precision) %></div>
              </div>
          <% end %>
        </section>
    <% end %>
<% end %>

<section class="fine">
  <% if transaction_hash.fine_list.present? %>
      <p class="subtitle">
        <%= t('fine') %>
      </p>
      <% transaction_hash.fine_list.each_with_index do |fine, i| %>
          <div class="receipt-details_item">
            <div class="left "><%= i+=1 %>.<%= fine.name %></div>
            <div class="right"><%= precision_label(fine.amount) %></div>
          </div>
      <% end %>
  <% end %>
</section>

<section class="summary">
  <p class="subtitle">
    <%= t('summary') %>
  </p>

  <div class="receipt-details_item">
    <div class="left">
      <%= t('total_fees') %>
    </div>
    <div class="right">
      <%= precision_label(transaction_hash.total_payable) %>
    </div>
  </div>

  <% if has_discount?(transaction_hash) %>
      <div class="receipt-details_item">
        <div class="left">
          <%= t('discount') %>
        </div>
        <div class="right">
          - <%= precision_label(transaction_hash.total_discount) %>
        </div>
      </div>
  <% end %>

  <% if has_tax?(transaction_hash) %>
      <div class="receipt-details_item">
        <div class="left">
          <%= t('tax_text') %>
        </div>
        <div class="right">
          <%= precision_label(transaction_hash.total_tax) %>
        </div>
      </div>
  <% end %>

  <% if has_fine?(transaction_hash) %>
      <div class="receipt-details_item">
        <div class="left">
          <%= t('fine') %>
        </div>
        <div class="right">
          <%= precision_label(transaction_hash.total_fine_amount) %>
        </div>
      </div>
  <% end %>
</section>

<section class="payment_status">
  <table class="payment_status-details">

    <% unless transaction_hash.finance_type == 'InstantFee' %>
        <% if transaction_hash.total_amount_to_pay.present? %>
            <tr class="">
              <td class="right-label">
                <%= t('total_amount_to_pay') %>:
              </td>
              <td class="bold">
                <%= transaction_hash.total_amount_to_pay %>
              </td>
            </tr>
        <% end %>
    <% end %>

    <% if has_previously_paid_fees?(transaction_hash) %>
        <tr class="">
          <td class="right-label">
            <%= t('previous_payments') %>:
          </td>
          <td class="bold">
            <%= transaction_hash.previously_paid_amount %>
          </td>
        </tr>
    <% end %>

    <tr class="">
      <td class="right-label">
        <%= t('amount_paid') %>:
      </td>
      <td class="bold">
        <%= transaction_hash.amount %>
      </td>
    </tr>

    <% if has_previously_paid_fees?(transaction_hash) %>
        <tr class="">
          <td class="right-label">
            <%= t('total_amount_paid') %>:
          </td>
          <td class="bold">
            <%= transaction_hash.total_amount_paid %>
          </td>
        </tr>
    <% end %>

    <% unless transaction_hash.finance_type == 'InstantFee' %>
        <% if transaction_hash.total_due_amount.present? %>
            <tr class="">
              <td class="right-label">
                <%= t('total_due_amount') %>:
              </td>
              <td class="bold">
                <%= transaction_hash.total_due_amount %>
              </td>
            </tr>
        <% end %>
    <% end %>
  </table>
</section>

<section class="bottom_fields">
  <table>
    <tr class="receipt-details_item">
      <td class="left">
        <%= t('payment_mode') %>:
      </td>
      <td class="">
        <%= transaction_hash.payment_mode %>
      </td>
    </tr>

    <tr class="receipt-details_item">
      <td class="right">
          <% if transaction_hash.wallet_amount_applied %>
            <%= t('wallet_amount')%>: <span><%= transaction_hash.wallet_amount %> </span>
          <% end %>
      </td>
    </tr>

    <% if transaction_hash.reference_no.present? %>
        <tr class="receipt-details_item">
          <td class="left"><%= transaction_hash.reference_label %>:</td>
          <td class=""><%= transaction_hash.reference_no %></td>
          </div>
        </tr>
    <% end %>

    <% if transaction_hash.reference_no.present? %>
        <tr class="receipt-details_item">
          <td class="left"><%= t('cheque_date') %>:</td>
          <td class=""><%= transaction_hash.cheque_date.present? ? transaction_hash.cheque_date : '-' %></td>
        </tr>
        <tr class="receipt-details_item">
          <td class="left"><%= t('bank_name') %>:</td>
          <td class=""><%= transaction_hash.bank_name.present? ? transaction_hash.bank_name : '-' %></td>
        </tr>
    <% end %>


    <% if has_tax?(transaction_hash) %>
        <% if transaction_hash.default_configs.finance_tax_identification_label.present? %>
            <tr class="receipt-details_item">
              <td class="left">
                <%= transaction_hash.default_configs.finance_tax_identification_label %>:
              </td>
              <td class="">
                <%= transaction_hash.default_configs.finance_tax_identification_number %>
              </td>
            </tr>
        <% end %>
    <% end %>

    <% if transaction_hash.payment_note.present? %>
        <tr class="receipt-details_item">
          <td class="left">
            <%= t('notes') %>:
          </td>
          <td class="">
            <%= transaction_hash.payment_note %>
          </td>
        </tr>
    <% end %>
  </table>
</section>
</div>

<% show_amount_in_words = (transaction_hash.default_configs.pdf_receipt_atow.to_i == 1) %>

<section class="bottom_fields">
  <% if show_amount_in_words %>
      <div class="receipt-details_item">
        <span class="amount_in_word"><%= t('amount_paid_in_words') %>:</span>
          <span class="amount_in_words">
              <%= NumberToWord.convert(precision_label(transaction_hash.amount.to_f),
                                       transaction_hash.default_configs.pdf_receipt_nsystem, transaction_hash.default_configs.default_currency) %>
          </span>
      </div>
  <% end %>

  <% if transaction_hash.invoice_no.present? %>
      <% if transaction_hash.invoice_enabled %>
          <div class="receipt-details_item">
            <span class="amount_in_word"><%= t('payment_for_invoice') %></span> :
            <span class="amount_in_word"><%= transaction_hash.invoice_no %></span>
          </div>
      <% end %>
  <% end %>
</section>
