<% remote_form_for @leave_year, :url => fetch_ly_path(@leave_year), :before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)"  do |ay| %>
  <%= session_fingerprint_field %> 
  <div id="year_form">
      <div class="label-field-pair date_field">
          <label for="start_date"><%= t('start_date') %></label>
          <div class="text-input-bg">
              <% if @leave_year.dependencies_present? %>
                <%= text_field_tag :start_date, format_date(@leave_year.start_date), :disabled=>true %>
              <% else %>  
                <%= calendar_date_select_tag 'leave_year[start_date]', I18n.l(@leave_year.start_date.to_date,:format=>:default),
                  :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force", :onchange => "change_name(this);", :id => 'start_date', :errors => @leave_year.errors["start_date"]  %>
              <% end %>
          </div>
      </div>
      <div class="label-field-pair date_field">
          <label for="end_date"><%= t('end_date') %></label>
          <div class="text-input-bg">
              <% if @leave_year.dependencies_present? %>
                <%= text_field_tag :end_date, format_date(@leave_year.end_date), :disabled=>true %>
              <% else %>
                <%= calendar_date_select_tag 'leave_year[end_date]', I18n.l(@leave_year.end_date.to_date,:format=>:default),
                  :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force", :onchange => "change_name(this);", :id => 'end_date', :errors => @leave_year.errors["end_date"] %>
              <% end %>
          </div>
      </div>
      <div class="label-field-pair">
          <label for="name"><%= t('leave_year_name_text') %></label>
          <div class ="year_name">
              <div class="text-input-bg">
                  <%= ay.text_field :name, :placeholder => t('leave_year_example') %>
                  <%= hidden_field_tag :type, @type %>
                  <%= hidden_field_tag :leave_year_id, @leave_year_id %>
              </div>
          </div>
      </div>
  </div>
  <div id="popup_footer">
      <%= submit_tag "#{(@leave_year.new_record? ? t('create_leave_year') : t('update_leave_year'))}", :disable_with => "#{t('please_wait')}", :class => "submit-button", :id => "submit_button" %>
      <div class="submit-button" onclick="remove_popup_box()"><%= t('cancel') %></div>
  </div>
<% end %>
<script type="text/javascript">
  j('#popup_footer.part').remove();
  j('#popup_box_overlay').click(remove_popup_box);
</script>
