<% total_fees =0 %>
<% i = 0 %>

<div id="particulars-list">
    <% @categorized_particulars.each do |particular_type| %>
      <tr class="row-a <%= particular_type.first %>head">
          <td class="sl-col col-1"></td>
          <td class="set_border_right col-1 bold_font" colspan="3">
              <span>
                  <%= "#{t(particular_type.first.underscore+"_text").titleize}-#{t('wise')}" %>
              </span>
          </td>
      </tr>
      <% particular_type.last.each do |fee| %>
        <tr class="row-b particular" id="particular<%=fee.id %>" >
            <td class="sl-col col-1 particular_index normal_font"><%= i+=1 %></td>
            <td class="set_border_right particular-col normal_font">
                <%= fee.name %>
            </td>
            <td class="set_border_right amount-col normal_font align_right">
                <%= precision_label fee.amount %>
            </td>
            <td class="cancel-disc cancel-color">
                <% if can_access_request? :delete_student_particular, :finance_extensions %>
                  <% if !fee.pay_all_discounts.present? and particular_type.first =='Student' and
                      fee.is_instant and @financefee.balance.to_f > 0 and @student.class.name == 'Student' %>
                    <div class="particular-or-discount-deletion" id="<%=fee.id %>"
                         finance_id="<%= @financefee.id %>"
                         render_action="<%= @target_action %>"
                         render_controller="<%= @target_controller %>"
                         target_action="delete_student_particular">
                             <%= ("&times") %>
                    </div>
                  <% end %>
                <% end %>
            </td>
        </tr>
        <% total_fees += fee.amount %>
      <% end %>

    <% end %>
</div>

<% if (can_access_request? :new_instant_particular, :finance_extensions) and !@prevent_instant.present? %>
  <% unless @particular_wise_paid %>
    <% unless @payer_type.present? and @payer_type=="Archived Student" %>
      <% unless @financefee.balance.to_f <=0 or @financefee.is_paid %>
        <% can_add_particular = @financefee.can_add_instant_particular? %>
        <tr class="row-a">
            <td colspan="3" style="width:100%">
                <div class="instant-particular">
                    <% if can_add_particular %>
                      <% cat_id = @financefee.finance_fee_collection.fee_category_id %>

                      <% #unless FinanceFeeParticular.has_unlinked_particulars?(cat_id) %>
                          <%= link_to_remote "+ #{t('add_particular')}",
                                             :url => {:controller => "finance_extensions",
                                                      :action => "new_instant_particular", :id => @financefee.id,
                                                      :current_action => @target_action,
                                                      :current_controller => @target_controller} %>
                      <% #else %>
                          <% #= link_to "#{t('link_particular')}", manage_masters_master_fees_path({:fee_type => 'core', :cat_id => cat_id}), :target => "_blank" %>
                      <% #end %>
                    <% else %>
                      <%= t('add_particular') %>
                    <% end %>
                </div>
            </td>
            <td class="cancel-disc">
                <% unless can_add_particular %>
                  <span class="help_info" tooltip="<%= t('pay_all_discount_exists_cannot_delete_particular') %>"></span>
                <% end %>
            </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
<% end %>