<tr class="row-a tr-head">
    <td class="sl-col col-1"></td>
    <td class="col-1 bold_font" colspan="3">
        <span><%= t('summary') %></span>
    </td>
</tr>

<tr class="row-b summary-row">
    <td class="sl-col col-1 normal_font"><%= i+= 1 %></td>
    <td class="set_border_right particular-col normal_font">
        <%= "#{t('total')}  #{t('fees_text')}" %>
    </td>
    <td class="set_border_right amount-col normal_font align_right"> 
        <%= precision_label(@total_payable) %>
    </td>
    <td class="cancel-disc cancel-color"></td>
</tr>

<tr class="row-b summary-row">
    <td class="sl-col col-1 normal_font"><%= i+= 1%></td>
    <td class="set_border_right particular-col normal_font">
        <%= "#{t('total')} #{t('discount')}" %>
    </td>
    <td class="set_border_right amount-col normal_font align_right">
        <%= precision_label(@total_discount) %>
    </td>
    <td class="cancel-disc cancel-color"></td>
</tr>

<% if @financefee.tax_enabled %>
  <tr class="row-b summary-row">
      <td class="sl-col col-1 normal_font"><%= i+= 1%></td>
      <td class="set_border_right particular-col normal_font">
          <%= "#{t('total')} #{t('tax_text')}" %>
      </td>
      <td class="set_border_right amount-col normal_font align_right"> 
          <%= precision_label(@total_tax) %>
      </td>
      <td class="cancel-disc cancel-color"></td>
  </tr>
<% end %>

<% if @total_fine != 0 %>  
  <tr class="row-b summary-row">
      <td class="sl-col col-1 normal_font"><%= i+= 1%></td>
      <td class="set_border_right particular-col normal_font">
          <%= "#{t('total')} #{t('fine')}" %>
      </td>
      <td class="set_border_right amount-col normal_font align_right"> 
          <%= precision_label(@total_fine) %>
      </td>
      <td class="cancel-disc cancel-color"></td>
  </tr>
<% else %>
  <tr class="row-b summary-row" id="summary-show-fine"></tr>
<% end %>

<% total_fees = (@total_payable.to_f - @total_discount.to_f + total_fine) %>
<% total_fees += @total_tax.to_f if @financefee.tax_enabled %>

<tr class="row-b">
    <td class="bold_font amount-col align_right" colspan="2">
        <%= t('total_amount_to_pay') %> 
    </td>
    <td class="set_border_right amount-col bold_font total_fees align_right">
        <%= @financefee.is_paid? ? precision_label(@financefee._paid_amount.to_f) : 
          precision_label(total_fees) %>
    </td>
    <td class="cancel-disc cancel-color"></td>
</tr>

<% balance = @financefee.balance.to_f + @fine.to_f %>

<% unless @paid_fees.nil? %>
  <% paid=0 %>
  <% @paid_fees.each { |a| paid += a.amount.to_f } %>
  <% total_fees -= paid %>  
  <tr class="row-b">
      <td class="bold_font particular-col align_right" colspan="2">
          <%= t('total_amount_paid') %>
      </td>
      <td class="set_border_right amount-col bold_font payment_done align_right">
          <%= precision_label(paid) %>
      </td>
      <td class="cancel-disc cancel-color">
          <% if precision_label(balance + @fine_amount.to_f).to_f <= 0 %>
            <span class="cancel-disc" <%= @show_due_amount ? 'style="display:none"' : ''%>>
                <%= "&#10004;" %>
            </span>
          <% end %>
      </td>
  </tr>
<% end %>
<% @show_due_amount = false if precision_label(balance + @fine_amount.to_f).to_f <= 0 %>

<% if !@financefee.is_paid  or !(precision_label(balance + @fine_amount.to_f).to_f <= 0) or 
    @show_due_amount %>  
  <tr class="row-b">
      <td class="bold_font particular-col align_right" colspan="2">
          <%= t('total_due_amount') %> 
      </td>
      <td class="set_border_right bold_font amount-col amount_to_pay align_right">
          <% unless precision_label(balance + @fine_amount.to_f).to_f < 0 %>
            <%= precision_label(balance + @fine_amount.to_f) %> 
          <% end %>
      </td>
      <td class="cancel-disc cancel-color"></td>
  </tr>
<% end %>

<% if @student.class.name == 'Student' and @student.advance_fee_wallet.present? and @advance_fee_used.to_f > 0 %>
    <tr class="row-b">
        <td class="bold_font particular-col align_right" colspan="2">
            <%= t('advance_applied') %> 
        </td>
        <td class="set_border_right bold_font amount-col amount_to_pay align_right" id="adf_applied">
           <%= @advance_fee_used.to_f %>        
        </td>
        <td class="cancel-disc cancel-color"></td>
    </tr>
<% end %>
