<label for="user_name">
    <%= image_tag("loader.gif",
      :align => "absmiddle",
      :border => 0,
      :id => "loader",
      :style => "display: none;") %>
</label>
<table id="student_listing" width="100%" cellpadding="1" cellspacing="1">
    <% if @students.present? %>
      <% @students.each do |s| %>
        <tr class="st_entry" id="<%=s.id%>">
            <td class="student_entry">
                <div class="student_entry_div">
                    <%= s.full_name %>
                    <% if @roll_number_enabled %>
                      <span class="admission_no"><%=  s.roll_number.present? ? "(#{s.roll_number})" : ' '%></span>
                    <% else %>
                      <span class="admission_no">(<%=s.admission_no%>)</span>
                    <%end%>
                </div>
            </td>
            <td class="completion_indication">
                <% if s.has_completed_assessment(@observation_group, @batch)%>
                  <span class="completed"></span>
                <% end %>
            </td>
        </tr>
      <%end%>
    <% else %>
      <div class="no_records_message">
          <%=t('no_students_found')%>
      </div>
    <% end %>
</table>
<script type="text/javascript">
  j("#<%=@student.id%>").addClass('coloured_background');
  j('#student_listing tr.st_entry').each(function () {
      j(this).click(function () {
          j(".coloured_background").removeClass('coloured_background');
          j(this).addClass('coloured_background');
          j.ajax({
              type: 'POST',
              url: "/assessment_scores/observation_scores",
              data: {
                  student: j(this).attr('id'),
                  batch_id: <%=@batch.id%>,
                  observation_group_id: <%=@observation_group.id%>
              },
              beforeSend: function () {
                  j('.observation_sections_main').hide();
                  j('#loader_1').show();
              },
              success: function () {
                  j('#loader_1').hide();
                  j('.observation_sections_main').show();
              }
          });
      });
  });
  (function ($) {
      $.fn.hasScrollBar = function () {
          return this.get(0).scrollHeight > this.height();
      }
  })(jQuery);
  if (j('tbody').hasScrollBar() == true)
  {
      j('.td_val').css('width', '67px');
  }
  else {
      j('.td_val').css('width', '82px');
  }


  function search_logic() {
      if ($('query').value.include("%"))
          return;
<%="#{remote_function(:url => {:action => "search_batch_students"},
:with => "j('form#search').serialize()",
:before => "Element.show('loader');Element.hide('student_listing')",
:success => "Element.hide('loader');Element.show('student_listing')",
:update=>"student_listing_main"
)}"%>
  }
//j(document).ready(function () {
//    new Form.Element.Observer('query', 1, search_logic);
//});
</script>
