<% if @transport_fee_discounts.present? %>
  <% i=0 %>
  <tr class="tr-blank"></tr>
  <% @transport_fee_discounts.each do |tfd| %>
    <% tfd.is_amount ?  discount_amt = tfd.discount : discount_amt = (@fee.bus_fare.to_f*(tfd.discount/100)) %>

    <tr class="tr-<%= cycle("odd", "even") %>" cellpadding="1" cellspacing="1">
        <td class="col-1 normal_font particular_index"><%= i+=1 %></td>
        <td class="col-2"><%= "#{tfd.name}" %><%= tfd.is_amount ? "" : " - #{tfd.discount}%" %></td>
        <td class="col-6">
            <%= precision_label discount_amt %>
        </td>
    </tr>
  <% end %>
<% end %>